include ../panel

.container
  .well
    h1 Return a Book to user {{ userInfo.username }}
    form.form-horizontal(name='returnForm')
      fieldset
        legend Return a book
        .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="book") Book
                  .row
                    .col-xs-12
                      select.form-control.nya-selectpicker(name="book", ng-model="return.bookInfo", ng-options="bookOption(book.bookName, book.bookISBN) for book in books", data-live-search)  
         .row
          .col-md-12
            .col-md-6
              .form-group
                label(for="comment") Comment
                  .row
                    .col-xs-12
                      textarea.form-control(name="comment", cols="50", ng-model="return.comment")
        .pull-right
          button.btn.btn-primary(ng-click='returnBook(return)') Return
          a.btn.btn-danger(href='/libraryPanel/users', style="margin-left:0.2em") Cancel
          
    h1 Give a book to {{ userInfo.username }}
    form.form-horizontal(name='giveForm')
      fieldset
        legend Give a book
        .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="isbn") Book
                  .row
                    .col-xs-12
                      select.form-control.nya-selectpicker(name='bookID', ng-model='give.bookInfo', ng-options="bookOption(book.bookName, book.bookISBN) for book in books", data-live-search)
         .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="startDate") Start Date
                  .row
                    .col-xs-12
                      input(type="text", ng-model="give.startDate", ng-init="give.startDate = Date")  
            .col-md-6
              .form-group
                label.text-left(for="endDate") End Date
                  .row
                    .col-xs-12
                      input(type="text", ng-model="give.endDate", ng-init="give.endDate = Date30Days")    
         .row
          .col-md-12
            .col-md-6
              .form-group
                label(for="comment") Comment
                  .row
                    .col-xs-12
                      textarea.form-control(name="comment", cols="50", ng-model="give.comment")
        .pull-right
          button.btn.btn-primary(ng-click='giveBook(give)') Give
          a.btn.btn-danger(href='/libraryPanel/users', style="margin-left:0.2em") Cancel
          
