include ../panel

.container(ng-controller='UserInteractLibraryCtrl')

  .row
    h1.text-center User: 
      a(ng-href='/library-panel/userInfo/{{userInfo._id}}') {{ userInfo.firstName }} {{ userInfo.lastName }}

  .row
    .col-md-6.text-center
      h2 Give Book
      form.form-horizontal(name='giveForm')
        fieldset
          .row
            .form-group
              label(for='isbn') Book
                .row
                  select.form-control.nya-selectpicker(name='bookID', select-picker, ng-model='give.bookInfo', ng-options='book as bookOption(book.bookName, book.bookISBN) for book in books', data-live-search)
          .row
            .form-group
              label(for='comment') Comment
                .row
                  textarea.form-control(name='comment', cols='50', ng-model='give.comment')
          .row
            button.btn.btn-success(ng-click='giveBook(give)') Give book

    .col-md-6.text-center
      h2 Return Book
      form.form-horizontal(name='returnForm')
        fieldset
          .row
            .form-group
              label(for='book') Book
                .row
                  select.form-control.nya-selectpicker(name='book', ng-model='return.bookInfo', ng-options='book as bookOption(book.bookName, book.bookISBN) for book in booksToReturn', data-live-search)  
          .row
            .form-group
              label(for='comment') Comment
                .row
                  textarea.form-control(name='comment', cols='50', ng-model='return.comment')
          .row
            button.btn.btn-success(ng-click='returnBook(return)') Return book
