include ../panel

.container
  .well
    h1 Return a Book to user {{ userInfo.username }}
    form.form-horizontal(name='userForm')
      fieldset
        legend Return a book
        .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="isbn") Book ISBN (the list below is made of books which are not returned by the user)
                  .row
                    .col-xs-12
                      select.form-control(ng-model="interact.bookID", ng-options="book.bookID as book.bookID for book in userInfo.books")  
         .row
          .col-md-12
            .col-md-6
              .form-group
                label(for="comment") Comment
                  .row
                    .col-xs-12
                      textarea.form-control(name="comment", cols="50", placeholder="The book has been returned in time and in good condition", ng-model="interact.comment")
        .pull-right
          button.btn.btn-primary(ng-click='returnBook(interact)') Return
          a.btn.btn-danger(href='/libraryPanel/users', style="margin-left:0.2em") Cancel
          
    h1 Give a book to {{ userInfo.username }}
    form.form-horizontal(name='giveForm')
      fieldset
        legend Give a book
        .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="isbn") Book
                  .row
                    .col-xs-12
                      select.form-control(name='bookID', ng-model='interact.bookID')
                        option(ng-repeat="book in books" value="{{ book.bookID }}") {{ book.bookName }}

         .row
          .col-md-12
            .col-md-6
              .form-group
                label.text-left(for="startDate") Start Date
                  .row
                    .col-xs-12
                      input(type="text", ng-model="interact.startDate", ng-init="interact.startDate = Date")  
            .col-md-6
              .form-group
                label.text-left(for="endDate") End Date
                  .row
                    .col-xs-12
                      input(type="text", ng-model="interact.endDate", ng-init="interact.endDate = Date30Days")    
         .row
          .col-md-12
            .col-md-6
              .form-group
                label(for="comment") Comment
                  .row
                    .col-xs-12
                      textarea.form-control(name="comment", cols="50", placeholder="The book has been given in time and in good condition", ng-model="interact.comment")
        .pull-right
          button.btn.btn-primary(ng-click='giveBook(interact)') Give
          a.btn.btn-danger(href='/libraryPanel/users', style="margin-left:0.2em") Cancel
          
