include ../panel

.container(ng-controller='UserInteractLibraryCtrl')

  .row
    h1.text-center User: 
      a(ng-href='/library-panel/userInfo/{{user._id}}') {{ user.firstName }} {{ user.lastName }}

  .row
    .col-md-6.text-center
      h2 Give Book
      form.form-horizontal(name='giveForm')
        fieldset
          .row
            .form-group
              label(for='isbn') Book
                .row
                  ui-select(ng-model='giveForm.bookInfo', theme='select2', ng-disabled='disabled', style='min-width: 450px;', required)
                      ui-select-match(placeholder='Please select a book') {{$select.selected.bookName}} ({{$select.selected.bookISBN}})
                      ui-select-choices(repeat='book in books | propsFilter: {bookName: $select.search, bookISBN: $select.search}')
                        div {{book.bookName}}
                        small.text-muted ISBN: {{book.bookISBN}}

          .row
            .form-group
              label(for='comment') Comment
                .row
                  textarea.form-control(name='comment', cols='50', ng-model='giveBook.comment')
          .row
            button.btn.btn-success(ng-click='giveBook(giveForm.bookInfo)', ng-disabled='giveForm.$invalid') Give book

    .col-md-6.text-center
      h2 Return Book
      form.form-horizontal(name='returnForm')
        fieldset
          .row
            .form-group
              label(for='book') Book
                .row


                  ui-select(ng-model='returnForm.bookInfo', theme='select2', ng-disabled='disabled', style='min-width: 450px;', required)
                      ui-select-match(placeholder='Please select a book') {{$select.selected.bookName}} ({{$select.selected.bookISBN}})
                      ui-select-choices(repeat='book in booksToReturn | propsFilter: {bookName: $select.search, bookISBN: $select.search}')
                        div {{book.bookName}}
                        small.text-muted ISBN: {{book.bookISBN}}
          .row
            .form-group
              label(for='comment') Comment
                .row
                  textarea.form-control(name='comment', cols='50', ng-model='returnBook.comment')
          .row
            button.btn.btn-success(ng-click='returnBook(returnForm.bookInfo)', ng-disabled='returnForm.$invalid') Return book


  hr
  .row
    .col-md-6(ng-if='bookings.length>0', ng-class="{ 'col-xs-offset-3': readings.length<1 }")
      h2.text-center Bookings
      p
        accordion(close-others='true')
          accordion-group(ng-repeat='booking in bookings', is-open='booking.open')
            accordion-heading
              span {{booking.title}}
              timer.pull-right.text-success(end-time='booking.end')
                | {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds left
            img.img-responsive.img-thumbnail.col-xs-3(ng-src='{{ booking.cover }}', err-src='assets/images/missing-cover1.png', style='margin-right:2em')
            span.text-info Author: 
            span {{ booking.author }}
            span.pull-right {{ booking.publisher }}
            span.text-info.pull-right Publisher:&nbsp;
            span(ng-show='!!booking.description', style='padding:0').col-xs-8.text-justify {{ pending.book.description | limitTo: 500}} ...


    .col-md-6(ng-if='readings.length>0', ng-class="{ 'col-xs-offset-3': bookings.length<1 }")
      h2.text-center Readings
      p
        accordion(close-others='true')
          accordion-group(ng-repeat='reading in readings', is-open='reading.open')
            accordion-heading
              span {{reading.title}}
              span.pull-right.text-success Till&nbsp; {{reading.end | date:'dd/MM/yyyy'}}
            img.img-responsive.img-thumbnail.col-xs-3(ng-src='{{ reading.cover }}', err-src='assets/images/missing-cover1.png', style='margin-right:2em')
            span.text-info Author: 
            span {{ reading.author }}
            span.pull-right {{ reading.publisher }}
            span.text-info.pull-right Publisher:&nbsp;
            span(ng-show='!!reading.description', style='padding:0').col-xs-8.text-justify {{ reading.description | limitTo: 500}} ...

