include ../panel

.container
    h1.text-center Username: {{ user.username }}
    table.table.table-striped.table-bordered.table-wrapped 
      tr(ng-repeat='(key, value) in user')
        td.col-md-4
          strong {{ key }}
        td {{ value }}

    table
      tr
        td
          h2 User Libraries
      tr
        td
          h2 User Books
      tr
        td
          h2 User Requests
      tr
        td
          h2 User Reviews
     
