include ../panel

.container
    h1.text-center Books taken
    
    .row
      .col-md-8.col-md-offset-2
        input(placeholder="Search...", ng-model="search")

    #users-list.table-responsive(ng-init="pages();")
      table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
        thead
          tr.text-bold.text-primary
            td#_id(ng-click="sort($event); reloadVisits()") ID
              span#_id.glyphicon.glyphicon-sort.text-right
            td#userName(ng-click="sort($event); reloadVisits()") User
              span#userName.glyphicon.glyphicon-sort.text-right
            td#date(ng-click="sort($event); reloadVisits()") Date
              span#date.glyphicon.glyphicon-sort.text-right
            td Actions
        tr(ng-repeat="visit in visits")
          td.text-bold {{ visit._id }}
          td {{ visit.userName }}
          td {{ visit.date | date:'HH:mm:ss &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dd/MM/yyyy' }}
          td
            a.btn-sm(href='/library-panel/user/interact/{{ visit.userID }}', tooltip='Return A Book')
              span.glyphicon.glyphicon-book.text-success
            a.btn-sm(href='/library-panel/visit/delete/{{ visit._id }}', tooltip='Delete', onclick='return window.confirm("Deleting a visit" || "Are you sure that you want to delete this visit?")')
              span.glyphicon.glyphicon-remove.text-danger
    .pagination
        li(ng-repeat="i in range(pagesCount) track by $index")
          a(class="pageItem" href="#" ng-click="setPage($index+1, $event); reloadVisits();" id="page-{{ $index+1 }}") {{ $index+1 }}

