include ../panel

.container
    h1.text-center Library visits

    #users-list.table-responsive(ng-init="pages();")
      table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
        thead
          tr.text-bold.text-primary
            td#_id(ng-click="sort($event); reloadVisits()") ID
              span#_id.glyphicon.glyphicon-sort.text-right
            td#userName(ng-click="sort($event); reloadVisits()") User
              span#userName.glyphicon.glyphicon-sort.text-right
            td#date(ng-click="sort($event); reloadVisits()") Date/Hour
              span#date.glyphicon.glyphicon-sort.text-right
        tr(ng-repeat="visit in visits")
          td.text-bold {{ visit._id }}
          td {{ visit.userName }}
          td {{ visit.date | date:'dd/MM/yyyy &nbsp;&nbsp;&nbsp;HH:mm:ss' }}
    .pagination
        li(ng-repeat="i in range(pagesCount) track by $index")
          a(class="pageItem" href="#" ng-click="setPage($index+1, $event); reloadVisits();" id="page-{{ $index+1 }}") {{ $index+1 }}

