
<div class="container">
  <div class="well">
    <form name="libraryForm" class="form-horizontal">
      <fieldset>
        <input type="hidden" ng-model="library._id" class="form-control"/>
        <legend>Update library</legend>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="col-md-5">
              <div ng-class="{ 'has-success': (libraryForm.name.$valid) }" class="form-group">
                <label for="name" class="control-label">Name</label>
                <div class="row">
                  <div class="col-xs-6">
                    <input name="name" type="text" placeholder="Library Name" ng-model="library.name" required="required" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <div class="row">
                  <div class="col-xs-12">
                    <textarea name="description" rows="3" placeholder="Library Description" ng-model="library.description" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div ng-class="{ 'has-success': (libraryForm.featured.$valid &amp;&amp; (!!library.featured)) }" class="form-group">
                <label for="featured" class="control-label">Featured</label>
                <div class="row">
                  <div class="col-xs-12">
                    <select name="featured" ng-model="library.featured" class="form-control">
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                  </div>
                </div>
              </div>
              <div ng-class="{ 'has-success': (libraryForm.published.$valid &amp;&amp; (!!library.published)) }" class="form-group">
                <label for="published" class="control-label">Published</label>
                <div class="row input-group date">
                  <input name="published" type="text" datepicker="datepicker" placeholder="Published" ng-model="library.published" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <button ng-click="updateLibraryAsAdmin(library)" ng-disabled="libraryForm.$invalid" class="btn btn-primary">Update</button><a href="/admin/libraries" style="margin-left:0.2em" class="btn btn-danger">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>