.container
  .well
    form.form-horizontal(name='libraryForm')
      fieldset
        input.form-control(type='hidden', ng-model='library._id')
        legend Update library
        .row
          .col-md-11.col-md-offset-1
            .col-md-5
              .form-group(ng-class="{ 'has-success': (libraryForm.name.$valid) }")
                  label.control-label(for="name") Name
                  .row
                      .col-xs-6
                          input.form-control(name="name", type="text", placeholder="Library Name", ng-model="library.name", required)
              .form-group
                  label.control-label(for="description") Description
                  .row
                      .col-xs-12
                          textarea.form-control(name='description', rows='3', placeholder='Library Description', ng-model='library.description')
            .col-md-5.col-md-offset-1
              .form-group(ng-class="{ 'has-success': (libraryForm.featured.$valid && (!!library.featured)) }")
                label.control-label(for='featured') Featured
                .row
                  .col-xs-12
                    select.form-control(name='featured', ng-model='library.featured')
                      option(value='true') True
                      option(value='false') False
              .form-group(ng-class="{ 'has-success': (libraryForm.published.$valid && (!!library.published)) }")
                label.control-label(for='published') Published
                .row.input-group.date
                    input.form-control(name='published', type='text', datepicker='datepicker', placeholder='Published', ng-model='library.published')
                    span.input-group-addon
                      i.glyphicon.glyphicon-th
        
        .pull-right
          button.btn.btn-primary(ng-click='updateLibraryAsAdmin(library)', ng-disabled='libraryForm.$invalid') Update
          a.btn.btn-danger(href='/admin/libraries', style="margin-left:0.2em") Cancel
