include ../panel

.container
  .well
    form.form-horizontal(name='libraryForm')
      fieldset
        legend Add new Library
        .row
        
        ul.nav.nav-tabs(style="margin-bottom: 25px")
          li.active
            a(href="#main-information", data-toggle="tab", target="_self").active
              |  Main information
          li
            a(href="#librarians", data-toggle="tab", target="_self")
              | Librarians

      #myTabContent.tab-content

        .tab-pane.fade.active.in#main-information
          .row
            .col-md-11.col-md-offset-1
              .col-md-5
                .form-group(ng-class="{ 'has-success': (libraryForm.name.$valid), 'has-error': (libraryForm.name.$invalid) }")
                    label.control-label(for='name') Name *
                    .row
                      .col-xs-12
                          input.form-control(name='name', type='text', placeholder='Name', ng-model='library.name', required)
    
                .form-group(ng-class="{ 'has-success': (libraryForm.country.$dirty), 'has-error': (libraryForm.country.$invalid) }")
                  label.control-label(for='country') Country *
                  .row
                    .col-xs-12
                      select.form-control.nya-selectpicker(name='country', ng-model='library.country', ng-options='value.name for (key, value) in countries track by value.name', data-live-search, ng-attr-title='{{ !!library.country && library.country.name || "Select country" }}', novalidate)

                .form-group(ng-class="{ 'has-success': (libraryForm.city.$valid), 'has-error': (libraryForm.city.$invalid) }")
                    label.control-label(for='city') City *
                    .row
                      .col-xs-12
                          input.form-control(name='city', type='text', placeholder='City', ng-model='library.city', ng-pattern='/^([a-zA-Z\u0080-\u024F]+(?:. |-| |\'))*[a-zA-Z\u0080-\u024F]*$/')
    
                .form-group(ng-class="{ 'has-success': (libraryForm.address.$valid), 'has-error': (libraryForm.address.$invalid) }")
                    label.control-label(for='address') Address *
                    .row
                      .col-xs-12
                          input.form-control(name='address', type='text', placeholder='Address', ng-model='library.address')
    
              .col-md-5.col-md-offset-1
                
                  .form-group(ng-class="{ 'has-success': (libraryForm.yearOfEstabilishment.$valid && libraryForm.yearOfEstabilishment.$dirty), 'has-error': (libraryForm.yearOfEstabilishment.$invalid) }")
                    label.control-label(for='yearOfEstabilishment') Year of Estabilishment
                    .row
                      .col-xs-12
                          input.form-control(name='yearOfEstabilishment', type='text', placeholder='Year', ng-model='library.yearOfEstabilishment', ng-pattern='/^(1[0-9][0-9][0-9]|200[0-9]|201[0-4])$/')
                
                  .form-group(ng-class="{ 'has-success': (libraryForm.tags.$valid && libraryForm.tags.$dirty) }")
                    label.control-label(for='tags') Tags
                    .row
                      .col-xs-12
                          input.form-control(name='tags', type='text', placeholder='Tags', ng-model='library.tags')
                  .row
                    .col-xs-3
                      .form-group(ng-class="{ 'has-success': (library.featured === true) }")
                        label.control-label(for='featured') Featured
                          .row
                            .col-xs-12
                                input.form-control.checkbox(name='featured', type='checkbox', ng-model='library.featured') 
                    
                    .col-xs-3
                      .form-group(ng-class="{ 'has-success': (library.visible === true) }")
                        label.control-label(for='visible') Visible
                          .row
                            .col-xs-12
                                input.form-control.checkbox(name='visible', type='checkbox', ng-model='library.visible')

                    .col-xs-3
                      .form-group(ng-class="{ 'has-success': (library.certified === true) }")
                        label.control-label(for='certified') Certified
                          .row
                            .col-xs-12
                                input.form-control.checkbox(name='certified', type='checkbox', ng-model='library.certified') 
                  


          .row

            .col-md-10.col-md-offset-1

              .form-group(ng-class="{ 'has-success': (libraryForm.description.$dirty)}")
                label.control-label(for='description') Description
                .row
                  .col-xs-12
                    textarea.form-control(name='description', placeholder='Description', ng-model='library.description', rows='3')

              .form-group(ng-class="{ 'has-success': (certificateUploadSuccessful), 'has-error': (certificateUploadError || certificateTypeError) }")
                label.control-label(for='certificate') Certificate
                .row
                  .col-xs-8
                      input.form-control(name='certificate', type='file', ng-model='upFile', onchange='angular.element(this).scope().setFileEventListener(this)')
                      button#btnStartUpload.btn.start.btn-success(type='submit', loading-button, data-loading-text='Uploading...', value='Send', ng-click='uploadFile()', ng-disabled='!uploadButtonState', style='margin-top:0.5em') Upload file
                      span.has-error.help-block(ng-show='certificateTypeError') The supported types are GIF, JPEG, PNG and TIFF
                      span.has-error.help-block(ng-show='certificateUploadError') An error occured. Please try again later.
                  .col-xs-4
                    img.image-responsive.img-thumbnail(ng-src='{{ library.certificate }}', ng-bind='library.certificate')

        .tab-pane.fade#librarians

          .row
            .col-md-11.col-md-offset-1
              .col-md-5
                  .form-group
                    label.control-label(for='librarians') Select from existing users
                    .row
                      .col-xs-12
                        select.form-control.nya-selectpicker(name='librarians', ng-model='library.librarians', ng-options='value._id as value.username for (key, value) in users track by value._id', data-live-search, ng-attr-title='{{ !!library.librarians && library.librarians.name || "Choose librarians" }}', multiple, required)
         
                    
          .row
            .col-md-11.col-md-offset-1
                  p {{ librarians_new }}
                  div(ng-repeat='librarian in librarians')
                   p {{ n }}
                   .form-group(ng-class="{ 'has-success': (libraryForm.librarians.$dirty), 'has-error': (libraryForm.librarians.$invalid) }")
                     label.control-label(for='librarians') Or create new user
                        
                        .form-group(ng-class="{ 'has-success': (libraryForm.firstName.$valid && libraryForm.lastName.$valid) }")
                            label.control-label(for="first-name") Name
                              .row
                                .col-xs-6
                                  input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="librarian.firstName", required)
                                .col-xs-6
                                  input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="librarian.lastName", required)
                        .form-group(ng-class="{ 'has-error': (libraryForm.username.$invalid && libraryForm.username.$dirty), 'has-success': (libraryForm.username.$valid) }")
                             label.control-label(for="username") Username
                              .row
                                .col-xs-12
                                    input.form-control(name="username", type="text", placeholder="Username", tooltip, data-placement='left',  data-trigger="focus", title="Lowercase letters, digits, hyphens and underscores. 3-16 characters", ng-model="librarian.username", ng-pattern="/^[a-z0-9_-]{3,16}$/", ng-change="checkIfTaken(libraryForm.username)", required)
                                    span.help-block(ng-show="libraryForm.username.$error.taken") Username already taken
                        .form-group(ng-class="{ 'has-error': (libraryForm.email.$invalid && libraryForm.email.$dirty), 'has-success': (libraryForm.email.$valid) }")
                              label.control-label(for="email") Email
                              .row
                                  .col-xs-12
                                      input.form-control(name="email", type="text", placeholder="Email", ng-model="librarian.email", ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+[.][a-z.]{2,5}$/", ng-change="checkIfTaken(libraryForm.email)", required)
                                      span.has-error.help-block(ng-show="libraryForm.email.$error.taken") Email already taken
                                      span.has-error.help-block(ng-show="libraryForm.email.$invalid && libraryForm.email.$dirty") Please enter valid email
                       .form-group(ng-class="{ 'has-error': (libraryForm.password.$invalid && libraryForm.password.$dirty), 'has-success': (libraryForm.password.$valid) }")
                              label.control-label(for="password") Password
                              .row
                                  .col-xs-12
                                      input.form-control(name="password", type="password", placeholder="Password", tooltip, data-placement='left',  data-trigger="focus", title="Lowercase letters, digits, hyphens and underscores. 6-18 characters", ng-model="librarian.password", ng-pattern="/^[a-z0-9_-]{6,18}$/", required)
                        .form-group(ng-class="{ 'has-error': (libraryForm.confirmPassword.$invalid && libraryForm.confirmPassword.$dirty), 'has-success': (libraryForm.confirmPassword.$valid) }")
                              label.control-label(for="confirm-password") Confirm password
                              .row
                                  .col-xs-12
                                      input.form-control(name="confirmPassword", type="password", placeholder="Confirm password", ng-model="passwordConfirm", ng-change="passwordMatch(libraryForm.password, libraryForm.confirmPassword)", required)
                                      span.has-error.help-block(ng-show="libraryForm.confirmPassword.$error.notMatching") These passwords don't match. Try again?
              .pull-right
                button.btn(ng-click='addLibrarian()') Add Another Librarian
          

        .pull-right
          button.btn.btn-success(ng-disabled='libraryForm.$invalid' ng-click='addLibrary(library, librarians)') Add
          a.btn.btn-danger(href='/admin/libraries', style='margin-left:0.2em') Cancel
