.import.ng-isolate-scope(content='content', result='result')

  .col-md-4.text-center
    h3.text-center(tooltip='Allowed formats are .csv, .xls and .xlsx') Import from file
      .row
        input.btn.btn-info.custom-file-input(type='file')