
<div class="container">
  <div class="well">
    <form name="profileForm" class="form-horizontal">
      <fieldset>
        <input type="hidden" ng-model="user._id" class="form-control"/>
        <legend>Update profile</legend>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="col-md-5">
              <div ng-class="{ 'has-success': (profileForm.firstName.$valid &amp;&amp; profileForm.lastName.$valid) }" class="form-group">
                <label for="first-name" class="control-label">Name</label>
                <div class="row">
                  <div class="col-xs-6">
                    <input name="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required="required" class="form-control validity"/>
                  </div>
                  <div class="col-xs-6">
                    <input name="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required="required" class="form-control validity"/>
                  </div>
                </div>
              </div>
              <div ng-class="{ 'has-error': (profileForm.email.$invalid &amp;&amp; profileForm.email.$dirty), 'has-success': (profileForm.email.$valid) }" class="form-group">
                <label for="email" class="control-label">Email</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input name="email" type="text" placeholder="Email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+[.][a-z.]{2,5}$/" ng-change="fieldsMatch(profileForm.email, profileForm.confirmEmail); checkIfTaken(profileForm.email)" required="required" class="form-control validity"/><span ng-show="profileForm.email.$error.taken" class="has-error help-block">Email already taken</span><span ng-show="profileForm.email.$invalid &amp;&amp; profileForm.email.$dirty" class="has-error help-block">Please enter valid email</span>
                  </div>
                </div>
              </div>
              <div ng-class="{ 'has-error': (profileForm.confirmEmail.$invalid &amp;&amp; profileForm.confirmEmail.$dirty), 'has-success': (profileForm.confirmEmail.$valid) }" class="form-group">
                <label for="confirm-password" class="control-label">Confirm email</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input name="confirmEmail" type="text" placeholder="Confirm email" ng-value="user.email" ng-model="emailConfirm" ng-change="fieldsMatch(profileForm.email, profileForm.confirmEmail)" required="required" class="form-control validity"/><span ng-show="profileForm.confirmEmail.$error.notMatching &amp;&amp; profileForm.confirmEmail.$dirty" class="has-error help-block">These emails don't match. Try again?</span>
                  </div>
                </div>
              </div>
              <div ng-class="{ 'has-error': (profileForm.password.$invalid &amp;&amp; profileForm.password.$dirty), 'has-success': (profileForm.password.$valid &amp;&amp; profileForm.password.$dirty) }" class="form-group">
                <label for="password" class="control-label">Password</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input name="password" type="password" placeholder="Password" tooltip="tooltip" data-placement="left" data-trigger="focus" title="Lowercase letters, digits, hyphens and underscores. 6-18 characters" ng-model="user.password" ng-pattern="/^[a-z0-9_-]{6,18}$/" ng-change="fieldsMatch(profileForm.password, profileForm.confirmPassword)" class="form-control validity"/>
                  </div>
                </div>
              </div>
              <div ng-class="{ 'has-error': (profileForm.confirmPassword.$invalid &amp;&amp; profileForm.confirmPassword.$dirty), 'has-success': (profileForm.confirmPassword.$valid &amp;&amp; profileForm.confirmPassword.$dirty) }" class="form-group">
                <label for="confirm-password" class="control-label">Confirm password</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input name="confirmPassword" type="password" placeholder="Confirm password" ng-model="passwordConfirm" ng-change="fieldsMatch(profileForm.password, profileForm.confirmPassword)" class="form-control validity"/><span ng-show="profileForm.confirmPassword.$error.notMatching &amp;&amp; profileForm.confirmPassword.$dirty" class="has-error help-block">These passwords don't match. Try again?</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group">
                <label for="gender" class="control-label">Gender</label>
                <div class="row">
                  <div class="col-xs-12">
                    <select form="profileForm" ng-model="user.gender" class="form-control">
                      <option>Not specified</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="dateOfBirth" class="control-label">Date of birth</label>
                <div class="row input-group date">
                  <input type="text" datepicker="datepicker" placeholder="Date of birth" ng-model="user.dateOfBirth" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
              <div class="form-group">
                <label for="facebookUrl" class="control-label">Facebook URL</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" placeholder="Facebook URL" ng-model="user.facebookUrl" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="twitterUrl" class="control-label">Twitter URL</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" placeholder="Twitter URL" ng-model="user.twitterUrl" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="googlePlusUrl" class="control-label">Google+ URL</label>
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" placeholder="Google+ URL" ng-model="user.googlePlusUrl" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="about-me" class="control-label">About Me</label>
              <div class="row">
                <div class="col-xs-12">
                  <textarea name="about-me" rows="3" placeholder="About Me" ng-model="user.aboutMe" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="avatar" class="control-label">Avatar</label>
              <div class="row">
                <div class="col-xs-8">
                  <input name="avatar" type="file" fileread="upFile" onchange="angular.element(this).scope().setFileEventListener(this); angular.element(this).scope().imageValidate()" ng-pattern="/.(gif|jpg|jpeg|tiff|png)$/i" class="form-control validity"/>
                  <button id="btnStartUpload" type="submit" loading-button="loading-button" value="Send" ng-click="uploadFile()" ng-disabled="!upload_button_state" style="margin-top:0.5em" class="btn start btn-success">Upload file</button>
                </div>
                <div class="col-xs-4"><img ng-src="{{user.avatar}}" ng-bind="user.avatar" class="image-responsive img-thumbnail"/></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <button ng-click="update(user)" ng-disabled="profileForm.$invalid" class="btn btn-primary">Update</button><a href="/" style="margin-left:0.2em" class="btn btn-danger">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>