.container
  .well
    form.form-horizontal(name='logInForm', ng-controller='LogInCtrl')
      fieldset
        legend Login
        .row
          .col-md-7
            .form-group
              label.col-md-2.control-label(for='username') Username
              .col-md-9
                input.form-control(type='text', placeholder='Username', ng-model='user.username', required='required', on-focus)
            .form-group
              label.col-md-2.control-label(for='password') Password
              .col-md-9
                input.form-control(type='password', placeholder='Password', ng-model='user.password', required='required')
            .form-group
              label.col-md-2.control-label(for='recaptcha') RECAPTCHA Challenge
              .col-md-9
                div(re-captcha, ng-model='user.captcha')
            .form-group
              .col-md-9.col-md-offset-2
                .pull-right
                    button.btn.btn-primary(ng-click='login(user)', ng-disabled='logInForm.$invalid') Login
                    a.btn.btn-danger(href="/", style="margin-left:0.2em") Cancel


          .col-md-5            
            .col-xs-10.col-xs-offset-1
                .form-group(style='margin-top:2em')
                    a.btn.btn-lg.btn-facebook.btn-block(href="api/auth/facebook", target="_blank")
                        i.fa.fa-facebook
                        |&nbsp; Connect with Facebook
                .form-group
                    a.btn.btn-lg.btn-twitter.btn-block(href="api/auth/twitter", target="_blank")
                        i.fa.fa-twitter
                        |&nbsp; Connect with Twitter
                .form-group
                  btn.btn.btn-lg.btn-google-plus.btn-block(href="api/auth/google-plus", target="_blank")
                    i.fa.fa-google-plus
                    |&nbsp; Connect with Google+
