
<div class="container">
  <div class="well">
    <form name="logInForm" ng-controller="LogInCtrl" class="form-horizontal">
      <fieldset>
        <legend>Login</legend>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="username" class="col-md-2 control-label">Username</label>
              <div class="col-md-9">
                <input type="text" placeholder="Username" ng-model="user.username" required="required" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-2 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" placeholder="Password" ng-model="user.password" required="required" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="recaptcha" class="col-md-2 control-label">RECAPTCHA Challenge</label>
              <div class="col-md-9">
                <div re-captcha="re-captcha" ng-model="user.captcha"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-md-offset-2">
                <div class="pull-right">
                  <button ng-click="login(user)" ng-disabled="logInForm.$invalid" class="btn btn-primary">Login</button><a href="/" style="margin-left:0.2em" class="btn btn-danger">Cancel</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">           
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group">
                <btn class="btn btn-lg btn-facebook btn-block"><i class="fa fa-facebook"></i>&nbsp;| Connect with Facebook</btn>
              </div>
              <div class="form-group">
                <btn class="btn btn-lg btn-twitter btn-block"><i class="fa fa-twitter"></i>&nbsp;| Connect with Twitter</btn>
              </div>
              <div class="form-group">
                <btn class="btn btn-lg btn-google-plus btn-block"><i class="fa fa-google-plus"></i>&nbsp;| Connect with Google+</btn>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>