.container
  ul.nav.nav-tabs(style="margin-bottom: 25px")
    li.active
      a(href="#personal-information", data-toggle="tab", target="_self").active
        | Personal information
    li
      a(href="#favorites", data-toggle="tab", target="_self")
        | Favorites
    li
      a(href="#personal-libraries", data-toggle="tab", target="_self")
        | Libraries
    li
      a(href="#personal-readings", data-toggle="tab", target="_self")
        | Readings
    li
      a(href="#personal-bookings", data-toggle="tab", target="_self")
        | Bookings
    li
      a(href="#personal-fines", data-toggle="tab", target="_self")
        | Fines

  #myTabContent.tab-content
    .tab-pane.fade.active.in#personal-information
      .row.vcenter
        .col-md-5.col-xs-5
          img.img-responsive.img-thumbnail(ng-src='{{ user.avatar }}')
        .col-md-7.col-xs-7
          .row
            h3.text-info.text-bold
              | {{ user.firstName }} {{ user.lastName }} ({{ user.username }}) 
            i.fa.fa-male.blue(ng-show='user.gender=="Male"', title='Male', style='font-size: 1.2em')
            i.fa.fa-female.pink(ng-show='user.gender=="Female"', title='Female', style='font-size: 1.2em')
            i.fa.fa-user(ng-show='user.gender=="Not specified"', title='Not Specified', style='font-size: 1.2em')
          .row
            span Member since: {{ user.created | date:'dd MMMM yyyy HH:mm:ss'}}
          .row(ng-show='user.dateOfBirth!=="N/A"')
            span Birthday: {{ user.dateOfBirth | date:'dd MMMM yyyy'}}
          .row
            a(href='{{ user.facebookUrl }}', ng-show='user.facebookUrl!=="N/A"')
              i.fa.fa-facebook(style='font-size: 1.5em; color: #fff;')
            a(href='{{ user.twitterUrl }}', ng-show='user.twitterUrl!=="N/A"')
              i.fa.fa-twitter(style='font-size: 1.5em; color: #fff;')
            a(href='{{ user.googlePlusUrl }}', ng-show='user.googlePlusUrl!=="N/A"')
              i.fa.fa-google-plus(style='font-size: 1.5em; color: #fff;')
          .row
            span Email: {{ user.email }}&nbsp;
            a(href='mailto:{{ user.email }}', title='Send an email')
              i.fa.fa-envelope(style='color: #fff;')
          .row(ng-show='user.aboutMe!==""')
            span About: {{ user.aboutMe }}
          .row
            h4.text-bold Roles
            span(ng-repeat='(key, value) in user.roles')
              span {{ value | titleCase }}
              span(ng-if='!$last') , 
          .row
            h4
              a(href='/profile/edit') Edit profile

      .row
        hr
        .col-md-3.col-md-offset-2.col-sm-3.vcenter.col-xs-offset-2.col-sm-offset-0(style='margin-right:5em;')
          div(barcode-generator='{{user}}')
        .col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-1.hidden-xs.vcenter
          ul
            li That's your personal sCOOLbry ID card.
            li If your library supports our 'sCOOLbry Welcome' system, you can identify yourself with it.
            li At the entrance of the library, use the barcode scanner to scan your card.
            li You can download it (simply click on it) and print it, but you can also use it from your phone or tablet.

    .tab-pane.fade#favorites
      h3
        | Favorite Books
      
      div(ng-repeat='favBook in favoriteBooks')
        .row(style='margin-bottom: 1em')
          a(ng-href='/book/{{favBook.bookID._id}}/{{favBook.libraryID}}')
            img.img-responsive(ng-src='{{favBook.bookID.cover}}').col-md-2.col-sm-2.col-xs-3
          div.col-md-10.col-sm-10.col-xs-9
            a(ng-href='/book/{{favBook.bookID._id}}')
              h3.vcenter(style='margin:0.2em 0')
                | {{favBook.bookID.title | cut:true:45:'...'}} &nbsp;&nbsp;
                span.badge.vcenter {{favBook.bookID.published | date:'MMM dd, yyyy'}}
            p
              | by 
              span.text-info {{favBook.bookID.author}}
            p.text-justify.hidden-xs {{ favBook.bookID.description | cut:true:250:'...'}}

      p(ng-hide='favoriteBooks.length') No favorite books found.

    .tab-pane.fade#personal-libraries
      h3
        | Library Subscriptions


      .row
        .col-md-10
          input.form-control(type="text", placeholder="Type to search in {{ user.libraries.length }} libraries...", ng-model="search", on-focus)
        .col-md-2
          select.form-control.nya-selectpicker(name="sort", ng-model="sort", tooltip="Sort by...")
            option(value="name") Name
            option(value="yearOfEstablishment") Year of establishment
      br
      table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
        thead
          tr
            th.text-center Name
            th.text-center Address
            th.text-center Year of establishment
        tbody
          tr(ng-repeat="library in user.libraries | filter: search | orderBy: sort")
            td
              a(href="/libraries/{{ library._id }}") {{ library.name }}
            td {{ library.address.formatted_address }}
            td.text-center {{ library.yearOfEstablishment }}






      div(ng-hide='user.libraries.length')
        h4
          a(href='/libraries') No library subscriptions found. Check out all sCOOLbry libraries and subscribe!
    .tab-pane.fade#personal-readings
      h3
        | Readings

        accordion
          .row
            .col-md-6(ng-repeat='readingItem in user.readings', style='margin-top: 10px;')   
              accordion-group(is-open='true', style='padding: 0px;')
                accordion-heading
                  span {{readingItem.book.title}}
                  span.pull-right.text-success Till&nbsp; {{readingItem.reading.endDate | date:'dd/MM/yyyy'}}
                .row

                  img.img-responsive.img-thumbnail.col-xs-3.pull-left.text-center(ng-src='{{ readingItem.book.cover }}', err-src='assets/images/missing-cover1.png', style='margin: 0 0.5em;')
                  .col-xs-7
                    .row
                      .col-md-6(style='padding:0px;')
                        span.text-info.pull-left Author: 
                      .col-md-6(style='padding:0px;')
                        span.pull-left {{ readingItem.book.author }}
                    .row
                      .col-md-6(style='padding:0px;')
                        span.text-info.pull-left Publisher:&nbsp;
                      .col-md-6(style='padding:0px;')
                        span.pull-left {{ readingItem.book.publisher }}
                
                    .row
                      .col-md-6(style='padding: 0px;')
                        span.text-info Library: 
                      .col-md-6(style='padding: 0px;')
                        a(href='/libraries/{{readingItem.reading.libraryID}}')
                          span {{ readingItem.reading.libraryName }}
                    .row
                      .col-md-12(style='padding: 0px;')
                        a.col-xs-8(style='padding:10px 0', ng-href='/book/{{ readingItem.reading.bookID }}/{{ readingItem.reading.libraryID }}')
                          | See more
      p(ng-hide='user.readings.length!==0') No read books found.
    .tab-pane.fade#personal-bookings
      h3
        | Bookings

        accordion
          .row
            .col-md-6(ng-repeat='bookingItem in user.bookings', style='margin-top: 10px;')   
              accordion-group(is-open='true', style='padding: 0px;')
                accordion-heading
                  span {{bookingItem.booking.bookName}}
                  timer.pull-right.text-success(end-time='bookingItem.booking.bookDate')
                    | {{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds left
                .row

                  img.img-responsive.img-thumbnail.col-xs-3.pull-left.text-center(ng-src='{{ bookingItem.book.cover }}', err-src='assets/images/missing-cover1.png', style='margin: 0 0.5em;')
                  .col-xs-7
                    .row
                      .col-md-6(style='padding:0px;')
                        span.text-info.pull-left Author: 
                      .col-md-6(style='padding:0px;')
                        span.pull-left {{ bookingItem.book.author }}
                    .row
                      .col-md-6(style='padding:0px;')
                        span.text-info.pull-left Publisher:&nbsp;
                      .col-md-6(style='padding:0px;')
                        span.pull-left {{ bookingItem.book.publisher }}
                
                    .row
                      .col-md-6(style='padding: 0px;')
                        span.text-info Library: 
                      .col-md-6(style='padding: 0px;')
                        a(href='/libraries/{{bookingItem.booking.libraryID}}')
                          span {{ bookingItem.booking.libraryName }}
                    .row
                      .col-md-12(style='padding: 0px;')
                        a.col-xs-8(style='padding:10px 0', ng-href='/book/{{ bookingItem.booking.bookID }}/{{ bookingItem.booking.libraryID }}')
                          | See more
      p(ng-hide='user.bookings.length!==0') No bookings found.
    .tab-pane.fade#personal-fines
      h3
        | Fines
      .row
        #fines-list.col-md-10.col-md-offset-1.table-responsive(ng-hide='fines.length===0')
          table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
            thead
              tr.text-bold.text-primary
                td#amount Amount
                  span#amount.text-right
                td#reason Reason
                  span#reason.text-right
                td#added Date Added
                  span#added.text-right
                td#paid Date Paid
                  span#paid.text-right
                td Actions
              tr(ng-repeat="fine in fines")
                td {{ fine.amount }}
                td {{ fine.reason }}
                td {{ fine.added }}
                td {{ fine.paid }}
                td
                  a.btn-sm(href='#', tooltip='Pay Fine')
                    span.glyphicon.glyphicon-credit-card.text-success
      p(ng-show='fines.length===0') No fines found.
