.container
    .well


        ul.nav.nav-tabs(style="margin-bottom: 25px")
            li.active
                a(href="#personal-information", data-toggle="tab", target="_self").active
                    | Personal information
            li
                a(href="#favorites", data-toggle="tab", target="_self")
                    | Favorites
            li
                a(href="#libraries", data-toggle="tab", target="_self")
                    | Libraries

        #myTabContent.tab-content
            .tab-pane.fade.active.in#personal-information
                .row
                    .col-md-6
                        h3
                            | {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
                        img(ng-src="{{ user.avatar }}").img-responsive
                    .col-md-6
            .tab-pane.fade#favorites
                h3
                    | Favourite Books
                ul(ng-hide='favouriteBooks.length==0')
                    li(ng-repeat='book in favouriteBooks')
                        a(href='/book/{{ book.bookID }}/{{ book.libraryID }}') {{ book.bookName }}
                p(ng-hide='favouriteBooks.length!==0') No favourite books found.

            .tab-pane.fade#libraries
                h1.text-center Library Subscriptions
                p
                    div(ng-repeat='library in user.libraries')
                        h3.text-info {{ library.name }}




        a(href="/profile/edit")
            | Edit Profile