.container
    .well
        form.form-horizontal(name="signUpForm")
            fieldset
                legend
                    .row
                        .col-md-4.col-xs-4.vcenter
                            h2 Sign up
                        .col-md-8.col-xs-8.vcenter
                            h6.text-right Already have an account?
                                a(href="../login") &nbsp;Login
                
                .row
                    .col-md-5.col-xs-2
                        
                        .col-xs-10.col-xs-offset-1
                            .form-group
                                btn.btn.btn-lg.btn-facebook.btn-block
                                    i.fa.fa-facebook
                                    |&nbsp;| Connect with Facebook
                            .form-group
                                btn.btn.btn-lg.btn-twitter.btn-block
                                    i.fa.fa-twitter
                                    |&nbsp;| Connect with Twitter
                            .form-group
                                btn.btn.btn-lg.btn-google-plus.btn-block(data-toggle="tooltip", tooltip, data-placement="left", title="tooltip")
                                    i.fa.fa-google-plus
                                    |&nbsp;| Connect with Google+
                    .col-md-6.col-xs-8.col-xs-offset-1
                        .row
                            .col-xs-11
                                .form-group
                                    label.control-label(for="first-name") Name
                                    .row
                                        .col-xs-6
                                            input.form-control.validity(type="text", placeholder="First Name", ng-model="user.firstName", ng-change="check()", required)
                                        .col-xs-6
                                            input.form-control.validity(type="text", placeholder="Last Name", ng-model="user.lastName", ng-change="check()", required)
                                .form-group
                                    label.control-label(for="username") Username
                                    .row
                                        .col-xs-12
                                            input.form-control.validity(type="text", placeholder="Username", tooltip, data-placement="left", data-trigger="focus", title="Lowercase letters, digits, hyphens and underscores. 3-16 characters", ng-model="user.username", ng-pattern="/^[a-z0-9_-]{3,16}$/", ng-change="check()", required)
                                .form-group
                                    label.control-label(for="email") Email
                                    .row
                                        .col-xs-12
                                            input.form-control.validity(type="text", placeholder="Email", ng-model="user.email", ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+[.][a-z.]{2,5}$/", ng-change="check()", required)
                                .form-group
                                    label.control-label(for="password") Password
                                    .row
                                        .col-xs-12
                                            input.form-control.validity(type="password", placeholder="Password", tooltip, data-placement="left", data-trigger="focus", title="Lowercase letters, digits, hyphens and underscores. 6-18 characters", ng-model="user.password", ng-pattern="/^[a-z0-9_-]{6,18}$/", ng-change="check()", required)
                                .form-group
                                    label.control-label(for="confirm-password") Confirm password
                                    .row
                                        .col-xs-12
                                            input.form-control.validity(type="password", placeholder="Confirm password", ng-model="passwordConfirm", password-match="user.password", ng-change="check()", required)

                .pull-right
                    button.btn.btn-primary(ng-click="signup(user)", ng-disabled="signUpForm.$invalid") Create
                    a.btn.btn-primary(href="/") Cancel
