.container
  .well
    form.form-horizontal
      fieldset
        legend    
          .row
            .col-md-12
              .form-group
                h2 Thank you
                p Thank you for your payment!


