.container
  .well
    form.form-horizontal
      fieldset
        legend    
          .row
            .col-md-12
              .form-group
                h2 #{__("Thank you!")}
                p #{__("Thank you for your payment!")}


