.navbar-right(ng-controller="LogInCtrl", ng-cloak)
    ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
        li
            a(href='/libraries') Libraries
        li
            a(href='/catalogue') Catalogue
        li
            a(href="/login") Log in
        li
            a(href="/signup").sign-up Sign Up


    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li
            a(href='/libraries') Libraries
        li
            a(href='/catalogue') Catalogue
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
                span.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin") Admin Panel
                li(ng-show="identity.isAuthenticated()")
                    a(href="/profile") Profile
                li
                    a(href="/" ng-click="logout()") Sign Out