.tab-pane.fade#librarians

  .row
    .col-md-11.col-md-offset-1


      div
        h3.text-center Library's current librarians

        table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
          thead
            tr.text-bold.text-primary
              td#_id(ng-click="predicate='username'; reverse=!reverse ") ID
                span#_id.glyphicon.glyphicon-sort.text-right
              td#username(ng-click="predicate='username'; reverse=!reverse ") Username
                span#username.glyphicon.glyphicon-sort.text-right
              td#firstName(ng-click="predicate='firstName'; reverse=!reverse ") First name
                span#firstName.glyphicon.glyphicon-sort.text-right
              td#lastName(ng-click="predicate='lastName'; reverse=!reverse ") Last name
                span#lastName.glyphicon.glyphicon-sort.text-right
              td#created(ng-click="predicate='created'; reverse=!reverse ") Created
                span#created.glyphicon.glyphicon-sort.text-right
              td#email(ng-click="predicate='email'; reverse=!reverse ") Email
                span#email.glyphicon.glyphicon-sort.text-right
              td#roles(ng-click="predicate='roles'; reverse=!reverse ") Roles
                span#roles.glyphicon.glyphicon-sort.text-right
              td(ng-if="identity.currentUser.roles.indexOf('libraryOwner')>-1") Remove librarian
          tr(ng-repeat="librarian in currentLibrarians | orderBy:predicate:reverse")
            td.text-bold {{ librarian._id }}
            td {{ librarian.username }}
            td {{ librarian.firstName }}
            td {{ librarian.lastName }}
            td {{ librarian.created }}
            td {{ librarian.email }}
            td 
              p(ng-repeat='role in librarian.roles track by $index') {{ role | titleCase }}
            td(ng-if="identity.currentUser.roles.indexOf('libraryOwner')>-1")
              a.btn-sm(ng-click='removeCurrentLibrarian(librarian)', tooltip='Remove')
                span.glyphicon.glyphicon-remove.text-danger

      .col-md-8.col-md-offset-2

            
        div(ng-repeat='librarian in librarians')
          ng-form(name='librarianForm', novalidate)

            h3.text-left.col-xs-6.col-xs-offset-4(style="margin-top:0.5em; margin-bottom:0", ng-class="{ 'text-success': (librarianForm.firstName.$valid), 'text-danger': (librarianForm.$invalid) }") Librarian {{ $index+1 }}
            button.btn.btn-danger.col-xs-2(style="margin-top:0.5em", ng-click='removeLibrarian($index)') Remove

            .form-group(ng-class="{ 'has-success': (librarianForm.firstName.$valid && librarianForm.lastName.$valid), 'has-error': (librarianForm.firstName.$invalid || librarianForm.lastName.$invalid) }")
              label.control-label(for="first-name") Name
              .row
                .col-xs-6
                  input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="librarian.firstName", required, on-focus)
                .col-xs-6
                  input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="librarian.lastName", required)
            .form-group(ng-class="{ 'has-error': (librarianForm.username.$invalid), 'has-success': (librarianForm.username.$valid) }")
              label.control-label(for="username") Username
              .row
                .col-xs-12
                  input.form-control(name="username", type="text", placeholder="Username", tooltip-placement='left',  tooltip-trigger="focus", tooltip="Lowercase letters, digits, dots, hyphens and underscores. 3-16 characters", ng-model="librarian.username", ng-pattern='/^[a-z.0-9_-]{3,16}$/', check-availability='::librarian.username', required)
                  span.help-block(ng-show="librarianForm.username.$error.available") Username already taken
            .form-group(ng-class="{ 'has-error': (librarianForm.email.$invalid), 'has-success': (librarianForm.email.$valid) }")
              label.control-label(for="email") Email
              .row
                .col-xs-12
                  input.form-control(name="email", type="text", placeholder="Email", ng-model="librarian.email", check-availability='::librarian.email', ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z0-9]+[a-z0-9-]+[a-z0-9]+[.][a-z]{2,5}$/", required)
                  span.has-error.help-block(ng-show="librarianForm.email.$error.available") Email already taken
                  span.has-error.help-block(ng-show="librarianForm.email.$invalid && librarianForm.email.$dirty") Please enter valid email
            .form-group(ng-class="{ 'has-error': (librarianForm.password.$invalid), 'has-success': (librarianForm.password.$valid) }")
              label.control-label(for="password") Password
              .row
                .col-xs-12
                    input.form-control(name="password", type="password", placeholder="Password", tooltip-placement='left',  tooltip-trigger="focus", tooltip="Lowercase letters, digits, hyphens and underscores. 6-18 characters", ng-model="librarian.password", ng-pattern="/^[a-z0-9_-]{6,18}$/", required)
            .form-group(ng-class="{ 'has-error': (librarianForm.confirmPassword.$invalid), 'has-success': (librarianForm.confirmPassword.$valid) }")
              label.control-label(for="confirm-password") Confirm password
              .row
                .col-xs-12
                    input.form-control(name="confirmPassword", type="password", placeholder="Confirm password", ng-model="passwordConfirm", fields-match="librarian.password", required)
                    span.has-error.help-block(ng-show="librarianForm.confirmPassword.$error.fieldsMatch") These passwords don't match. Try again?
        
        h3.text-center(ng-hide='librariansCount>0', ng-if="identity.currentUser.roles.indexOf('libraryOwner')>-1") Or Add New User
        .text-center(ng-if="identity.currentUser.roles.indexOf('libraryOwner')>-1")
          button.btn.btn-primary(ng-click='addLibrarian()') Add New Librarian