
/*
* Header styles
*/

header
  border-bottom 3px solid #00c2ff !important
  padding 0 20px !important
  .sign-up
    border 1px solid #39c !important
    color #39c !important
    &:hover
      background #39c !important
      color #fff !important

.navbar-collapse.in 
    overflow-y visible !important

.navbar-brand
  margin-right 2.5em
  background url('../images/logo.png') no-repeat center
  width 150px
  height 34px


.navbar-form
  margin-top 19px


.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px
  .input-group-btn
    display inline

#search-header
  .form-group
    width 100%
    input
      width 100%

@media (min-width: 1200px)
  #search-header
    width 50%


@media (max-width: 1250px)
  #search-header
    width 40%

@media (max-width: 1050px)
  #search-header
    width 35%
  header
    .navbar-right
      a
        padding 8px
        margin 20px 2px



@media (max-width: 875px) and (min-width: 767px)
  header
    .navbar-right
      a
        padding 7px
        margin 20px 1px
        font-size 15px
    .navbar-brand
      margin-right 0.5em !important

