
/*
* Header styles
*/

header
  font-size 8.5px
  font-size 0.85rem
  border-bottom 3px solid #00c2ff !important
  padding 0 20px !important
  .sign-up
    border 1px solid #39c !important
    color #39c !important
    &:hover
      background #39c !important
      color #fff !important
  ul
    a
      font-size 2em
      padding 4em 6em
      margin 10em 3em

.navbar-brand
  background url('../images/logo.png') no-repeat center
  width 150px
  height 34px


.navbar-form
  margin-top 19px


.navbar-right .navbar-form
  input
    margin-right 1.4em
  a.btn
    margin-left 1.4em
  .input-group-btn
    display inline

#search-header
  width 70em
  margin-left 4em
  .form-group
    width 100%
    input
      width 100%
    button
      width 40px

@media (max-width: 1250px)
  header
    font-size 8.25px
    font-size 0.825rem
    #search-header
      width 65em

@media (max-width: 1198px)
  header
    font-size 8px
    font-size 0.8rem
    #search-header
      width 60em

@media (max-width: 1118px)
  header
    #search-header
      width 30em

@media (max-width: 878px)
  header
    font-size 7px
    font-size 0.7rem

@media (min-width: 768px) and (max-width: 878px)
  header
    #search-header
      display none
    font-size 7.75px
    font-size 0.775rem

@media (max-width: 768px)
  header
    #search-header
      width 100%
    .sign-up
      border inherit !important
      color inherit !important
      &:hover
        background #fff !important
        color inherit !important
        border 1px solid #ddd !important

.navbar-collapse.in 
    overflow-y visible !important

// @media screen and (min-width: 1000px)
//   .navbar-brand
//     float left
//     margin-right 5px
//     margin-left -15px
//   .navbar-nav 
//     float left
//     margin-top 0
//     margin-bottom 0
//   .navbar-nav > li 
//     float left
//   .navbar-nav > li > a 
//     border-radius 0
//   .navbar-nav.pull-right
//     float right
//     width auto
//   .navbar-toggle 
//     position relative
//     top aut
//     left auto
//     display none
//   .nav-collapse.collapse 
//     display block !important
//     height auto !important
//     overflow visible !important
