
/*
* Main styles
*/

body
	padding-top 115px
	background-color #F5F5F5

.well
	background-color #FFF
	input
		border 1px solid #E5E5E5

.panel
	border 1px solid #E5E5E5


.toast-top-right
	top 70px

.container-fluid
	padding 0
  