
/*
* Main styles
*/

/*
* Functions for cross browser rendering
*/

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


body
	padding-top 115px
	background-color #F5F5F5

.well
	background-color #FFF
	input
		border 1px solid #E5E5E5

.panel
	border 1px solid #E5E5E5


.toast-top-right
	top 70px

.container-fluid
	padding 0

.form-group
	.input-group
		padding 0 15px !important

.vcenter
    display inline-block
    vertical-align middle
    float none
