/*
* Header styles
*/

header
  border-bottom 3px solid #00c2ff !important
  padding 0 10px
  .sign-up
    border 1px solid #39c !important
    color #39c !important
    &:hover
      background #39c !important
      color #fff !important

.navbar-brand
  margin-right 2.5em

.navbar-form
  margin-top 19px


.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px
  .input-group-btn
    display inline

.input-searchbox
  width 35em !important

/*
* Main styles
*/

body
  padding-top 115px


.toast-top-right
  top 70px

.container-fluid
  padding 0

/*
* Homepage styles
*/

/*
* Welcome section styles
*/

#welcome-section
  background-color #39c
  padding 20px
  margin-top -32px
  h1, h2
    text-align center
    color #fff
    font-weight normal
  h1
    font-size 90px
    margin-top 45px
  h2
    font-size 50px
    margin-top 30px
  img
    margin auto
  a
    text-decoration none
    color #134fb8
    &:hover
      color #4582ec
  .btn-group-lg
    margin-top 70px
    a
      padding 19px 16px
      font-size 23px
      line-height 1.33
      border-radius 6px
      width 270px
      color #fff
      border 1px solid #fff
    .btn-info
      margin-right 50px
      background-color transparent
      &:hover
        background-color #4582ec
    .btn-primary
      background-color #1863e6
      &:hover
        background-color #4582ec


/*
* Footer styles
*/

footer
  padding-left 120px
  padding-right 120px
  p
    border-top 1px solid #808080
    padding-top 10px
