/*
* Header styles
*/
header {
  border-bottom: 3px solid #00c2ff !important;
  padding: 0 20px !important;
}
header .sign-up {
  border: 1px solid #39c !important;
  color: #39c !important;
}
header .sign-up:hover {
  background: #39c !important;
  color: #fff !important;
}
.navbar-brand {
  margin-right: 2.5em;
  background: url("../images/logo.png") no-repeat center;
  width: 150px;
  height: 34px;
}
.navbar-form {
  margin-top: 19px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.navbar-right .navbar-form .input-group-btn {
  display: inline;
}
#search-header .form-group {
  width: 100%;
}
#search-header .form-group input {
  width: 100%;
}
@media (min-width: 1200px) {
  #search-header {
    width: 50%;
  }
}
@media (max-width: 1250px) {
  #search-header {
    width: 40%;
  }
}
@media (max-width: 1050px) {
  #search-header {
    width: 35%;
  }
  header .navbar-right a {
    padding: 8px;
    margin: 20px 2px;
  }
}
@media (max-width: 875px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/*
* Main styles
*/
body {
  padding-top: 115px;
}
.toast-top-right {
  top: 70px;
}
.container-fluid {
  padding: 0;
}
/*
* Homepage styles
*/
/*
* Welcome section styles
*/
@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 90px !important;
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron h2 {
    font-size: 50px !important;
    margin-top: 30px !important;
  }
}
#welcome-section {
  background-color: #39c;
  padding: 20px;
  margin-top: -32px;
}
#welcome-section h1,
#welcome-section h2 {
  text-align: center;
  color: #fff;
  font-weight: normal;
}
@media (max-width: 991px) {
  #welcome-section .col-md-4 {
    display: none;
  }
}
#welcome-section img {
  margin: auto;
}
#welcome-section a {
  text-decoration: none;
  color: #134fb8;
}
#welcome-section a:hover {
  color: #1CC3F5;
}
#welcome-section .btn-group-lg {
  margin-top: 70px;
}
#welcome-section .btn-group-lg a {
  padding: 19px 16px;
  font-size: 23px;
  line-height: 1.33;
  border-radius: 6px;
  width: 270px;
  color: #fff;
  border: 1px solid #fff;
}
#welcome-section .btn-group-lg .btn-primary {
  margin-right: 25px;
}
#welcome-section .btn-group-lg .btn-info {
  margin-right: 25px;
  background-color: transparent;
}
#welcome-section .btn-group-lg .btn-info:hover {
  background-color: #4582ec;
}
#welcome-section .btn-group-lg .btn-primary {
  background-color: #1863e6;
}
#welcome-section .btn-group-lg .btn-primary:hover {
  background-color: #4582ec;
}
/*
* Footer styles
*/
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
