/*
* Footer styles
*/
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}

/*
* Header styles
*/
header {
  font-size: 8.5px;
  font-size: 0.85rem;
  border-bottom: 3px solid #00c2ff !important;
  padding: 0 20px !important;
}
header .sign-up {
  border: 1px solid #39c !important;
  color: #39c !important;
}
header .sign-up:hover {
  background: #39c !important;
  color: #fff !important;
}
header ul a {
  font-size: 2em;
}
header ul ul a {
  font-size: 1em;
}
.navbar-brand {
  background: url("../images/logo.png") no-repeat center;
  width: 150px;
  height: 34px;
}
.navbar-form {
  margin-top: 19px;
}
.navbar-right .navbar-form input {
  margin-right: 1.4em;
}
.navbar-right .navbar-form a.btn {
  margin-left: 1.4em;
}
.navbar-right .navbar-form .input-group-btn {
  display: inline;
}
#search-header {
  width: 70em;
  margin-left: 4em;
}
#search-header .form-group {
  width: 100%;
}
#search-header .form-group input {
  width: 100%;
}
#search-header .form-group button {
  width: 40px;
}
@media (max-width: 1250px) {
  header {
    font-size: 8.25px;
    font-size: 0.825rem;
  }
  header #search-header {
    width: 65em;
  }
}
@media (max-width: 1198px) {
  header {
    font-size: 8px;
    font-size: 0.8rem;
  }
  header #search-header {
    width: 60em;
  }
}
@media (max-width: 1118px) {
  header #search-header {
    width: 30em;
  }
}
@media (max-width: 878px) {
  header {
    font-size: 7px;
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 878px) {
  header {
    font-size: 7.75px;
    font-size: 0.775rem;
  }
  header #search-header {
    display: none;
  }
}
@media (max-width: 768px) {
  header #search-header {
    width: 100%;
  }
  header .sign-up {
    border: inherit !important;
    color: inherit !important;
  }
  header .sign-up:hover {
    background: #fff !important;
    color: inherit !important;
    border: 1px solid #ddd !important;
  }
}
.navbar-collapse.in {
  overflow-y: visible !important;
}

/*
* Homepage styles
*/
/*
* Welcome section styles
*/
#welcome-section {
  font-size: 25px;
  font-size: 2.5rem;
  background-color: #369;
  padding: 20px;
  margin-top: -32px;
}
#welcome-section h1 {
  font-size: 3.6em;
}
#welcome-section h2 {
  font-size: 2.4em;
  margin-top: 0.4em;
}
#welcome-section h1,
#welcome-section h2 {
  text-align: center;
  color: #fff;
  font-weight: normal;
}
#welcome-section img {
  margin: auto;
}
#welcome-section a {
  color: #ec8145;
}
#welcome-section a:hover {
  color: #43cff5;
  text-decoration: none;
}
#welcome-section .btn-group-lg {
  margin-top: 2.5em;
}
#welcome-section .btn-group-lg a {
  padding: 0.76em 0.64em;
  font-size: 1em;
  line-height: 1.33;
  width: 11em;
  color: #fff;
  border: 1px solid #fff;
}
#welcome-section .btn-group-lg .btn-primary {
  margin-right: 1em;
}
#welcome-section .btn-group-lg .btn-info {
  margin-right: 1em;
  background-color: transparent;
}
#welcome-section .btn-group-lg .btn-info:hover {
  background-color: #5c9db1;
  background-color: rgba(28,195,245,0.6);
}
#welcome-section .btn-group-lg .btn-primary {
  background-color: #dd9d7a;
  background-color: rgba(236,129,69,0.8);
}
#welcome-section .btn-group-lg .btn-primary:hover {
  background-color: rgba(236,129,69,0.5);
}
@media screen and (max-width: 1285px) {
  #welcome-section {
    font-size: 20px;
    font-size: 2rem;
  }
  #welcome-section img {
    width: 60%;
  }
  #welcome-section .col-md-8 {
    margin-left: -3%;
  }
}
@media screen and (max-width: 1032px) {
  #welcome-section {
    font-size: 18px;
    font-size: 1.8rem;
  }
  #welcome-section img {
    width: 50%;
  }
  #welcome-section .col-md-8 {
    margin-left: -5%;
  }
}
@media screen and (max-width: 942px) {
  #welcome-section {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 849px) {
  #welcome-section {
    font-size: 14px;
    font-size: 1.4rem;
  }
  #welcome-section .col-md-4 {
    display: none;
  }
  #welcome-section .col-md-8 {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 504px) {
  #welcome-section {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

/*
* Main styles
*/
/*
* Functions for cross browser rendering
*/
body {
  padding-top: 115px;
  background-color: #f5f5f5;
}
.well {
  background-color: #fff;
}
.well input {
  border: 1px solid #e5e5e5;
}
.panel {
  border: 1px solid #e5e5e5;
}
.toast-top-right {
  top: 70px;
}
.container-fluid {
  padding: 0;
}
.form-group .input-group {
  padding: 0 15px !important;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
