include ../panel

.container(ng-controller='LibraryAddFineCtrl')

  .row
    h1.text-center User: 
      a(ng-href='/library-panel/userInfo/{{finedUserInfo._id}}') {{ finedUserInfo.firstName }} {{ finedUserInfo.lastName }}

  .row
    .col-md-6.text-center
      h2 Issue Fine
      form.form-horizontal(name='fineForm')
        fieldset
          .row
            .form-group
              label(for='amount') Fine Amount
                .row
                  input.form-control(ng-model='fine.amount', type='text')

            .form-group
              label(for='reason') Reason
                .row
                  textarea.form-control(name='reason', cols='50', ng-model='fine.reason')
          .row
            button.btn.btn-success(ng-click='addFine(fine)', ng-disabled='fineForm.$invalid') Issue Fine
