.container
  .well

    ul.nav.nav-pills

      li.active
        a(href='admin/settings') Settings

      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Libraries
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='admin/libraries/add') Add
          li
            a(href='admin/libraries') Browse
          li
            a(href='admin/libraries/search') Search

      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Books
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='admin/books/add') Add
          li
            a(href='admin/books-library') Browse
          li
            a(href='admin/books/search-library') Search
            
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Users
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='admin/users/add') Add
          li
            a(href='admin/users') Browse
          li
            a(href='admin/users/search') Search
