.container
  .well
    ul.nav.nav-tabs.nav-justified(role='tablist')

      li(class=selected=='settings'?'active':undefined)
        a(href='/admin/settings') Settings

      li(class=selected=='libraries'?'active':undefined)
        a(href="#libraries", data-toggle="tab", target="_self")
          | Libraries
          span.caret


      li(class=selected=='books'?'active':undefined)
        a(href="#books", data-toggle="tab", target="_self")
          | Books
          span.caret

            
      li(class=selected=='users'?'active':undefined)
        a(href="#users", data-toggle="tab", target="_self")
          | Users
          span.caret

      .tab-content


          .tab-pane.fade.active.in#libraries
            ul.nav.nav-pills.nav-justified(role='menu')
              li
                a(href='/admin/libraries/add') Add
              li
                a(href='/admin/libraries') Browse
              li
                a(href='/admin/libraries/search') Search


          .tab-pane.fade#books
            ul.nav.nav-pills.nav-justified(role='menu')
              li
                a(href='/admin/books/add') Add
              li
                a(href='/admin/books-library') Browse
              li
                a(href='/admin/books/search-library') Search


          .tab-pane.fade#users
            ul.nav.nav-pills.nav-justified(role='menu')
              li
                a(href='/admin/users/add') Add
              li
                a(href='/admin/users') Browse
              li
                a(href='/admin/users/search') Search