.jumbotron
  .container
    h1 {{book.title}}
    h3(ng-show='library') {{ library.name }}

.container
    .row
      .col-xs-12.col-md-9
        .col-md-3.hidden-xs.col-sm-2
          img.img-responsive.img-thumbnail(src='{{book.cover}}')
        .col-md-9.col-sm-10
          div
            span.text-muted(ng-repeat='genre in book.genres | limitTo:2')
              span {{genre | titleCase}}
              span(ng-show='!$last') , 
              span(ng-show='$last') &nbsp; / 
            span.text-info {{book.publisher}}
            span.text-info.pull-right {{ book.author }}
          div(ng-show='!showMore')
            p.text-justify {{ book.description | limitTo: 400}}...
            a(href='#' ng-click='showMore=!showMore') Show more
          div(ng-show='!!showMore')
            p.text-justify {{ book.description}}
            a(href='#' ng-click='showMore=!showMore') Show less

        .col-xs-12(ng-show='otherCharacteristics')
          .panel.panel-primary(style='margin-top:2em', ng-show='!!showMore')
            .panel-body
              div.col-xs-5(ng-repeat='(key,value) in otherCharacteristics')
                li
                  span.text-success.text-bold {{ key | titleCase }} 
                  span : {{ value }}
      .col-xs-12.col-md-3
        .panel.panel-primary
          .panel-heading
            h4 Get the book
          .panel-body
            button.btn.btn-primary Book a book

    .row




    table(ng-show='libraryID==-1')
      tr
        td
          h2 Readers
      tr
        td
          h2 Libraries Owning the Book
      tr
        td
          h2 Book Reviews
    table(ng-show='libraryID!=-1')
      tr
        td
          h2 Readers
          ul
            li(ng-repeat='value in readers')
              p {{ value.userID }}
      tr
        td
          h2 Book Reviews


      tr(ng-show='bookable')
        td
          h2 Book This Book
          button.btn.btn-primary(ng-click="addBooking()") Book This Book
      tr(ng-show='notFavourite===true && isMember===true')
        td
          h2 Add To Favourites
          button.btn.btn-primary(ng-click="addFavourite(book.title, book.isbn)") Add This Book To Favourites
      tr(ng-show='notFavourite===false && isMember===true')
        td
          h2 Remove From Favourites
          button.btn.btn-primary(ng-click="removeFavourite()") Remove This Book From Favourites
