.container
  .well
    h1.text-center Title: {{ bookInfo.title }}
    table.table.table-striped.table-bordered.table-wrapped 
      tr(ng-repeat='(key, value) in bookInfo')
        td.col-md-4
          strong {{ key }}
        td {{ value }}

    table(ng-show='libraryID==-1')
      tr
        td
          h2 Readers
      tr
        td
          h2 Libraries Owning the Book
      tr
        td
          h2 Book Reviews
    table(ng-show='libraryID!=-1')
      tr
        td
          h2 Readers
          ul
            li(ng-repeat='value in readers')
              p {{ value.userID }}
      tr
        td
          h2 Book Reviews
      tr(ng-show='bookable')
        td
          h2 Book This Book
          button.btn.btn-primary(ng-click="addBooking()") Book This Book
