.container
  .well
    form.form-horizontal(name='userForm')
      fieldset
        legend Add an User
        .row
          .col-md-11.col-md-offset-1
            .col-md-5
              .form-group
                label.control-label(for="userID") User ID
                  .row
                    .col-xs-12
                      input.form-control(name="userID", type="text", placeholder="UserID", ng-model="user.userID")  
            .col-md-5.col-md-offset-1
              .form-group
                label.control-label(for="username") Username
                  .row
                    .col-xs-12
                      input.form-control(name="username", type="text", placeholder="Username", ng-model="user.username")  
        .pull-right
          button.btn.btn-primary(ng-click='addUserToLibrary(user)') Add
          a.btn.btn-danger(href='/libraryPanel/users', style="margin-left:0.2em") Cancel
