include ../panel

.container
  .well
    h1.text-center Title: {{ bookInfo.title }}
    table.table.table-striped.table-bordered.table-wrapped 
      tr(ng-repeat='(key, value) in bookInfo')
        td.col-md-4
          strong {{ key }}
        td {{ value }}

    table
      tr
        td
          h2 Readers
      tr
        td
          h2 Libraries Owning the Book
      tr
        td
          h2 Book Reviews
     
    
    .row
      a.btn.btn-danger.pull-right(href='/admin/book/delete/{{ bookInfo._id }}' onclick='return window.confirm("Deleting a book" || "Are you sure that you want to delete this book?")') Delete   
      a.btn.btn-primary.pull-right(href='/admin/book/edit/{{ bookInfo._id }}', style='margin-right:0.25em') Edit
      

