include ../panel

.container
  .well
    form.form-horizontal(name='bookForm')
      fieldset
        legend Add a Book
        .row
          .col-md-11.col-md-offset-1
            .col-md-5
              .form-group(ng-class="{ 'has-success': (bookForm.isbn.$valid && bookForm.isbn.$dirty), 'has-error': (bookForm.isbn.$invalid && bookForm.isbn.$dirty) }")
                  label.control-label(for='isbn') ISBN
                  .row
                    .col-xs-12
                        input.form-control(name='isbn', type='text', placeholder='ISBN', ng-model='book.isbn', ng-pattern='/((978[\--– ])?[0-9][0-9\--– ]{10}[\--– ][0-9xX])|((978)?[0-9]{9}[0-9Xx])/')  
              .form-group(ng-class="{ 'has-success': (bookForm.title.$valid), 'has-error': (bookForm.title.$invalid) }")
                  label.control-label(for='title') Title *
                  .row
                    .col-xs-12
                        input.form-control(name='title', type='text', placeholder='Title', ng-model='book.title' required)
              .form-group(ng-class="{ 'has-success': (bookForm.author.$valid), 'has-error': (bookForm.author.$invalid) }")
                  label.control-label(for='author') Author *
                  .row
                    .col-xs-12
                        input.form-control(name='author', type='text', placeholder='Author', ng-model='book.author' required)  
              .form-group(ng-class="{ 'has-success': (bookForm.illustrations.$dirty && (!!book.illustrations)) }")
                  label.control-label(for='illustrations') Illustrations Author
                  .row
                    .col-xs-12
                        input.form-control(name='illustrations', type='text', placeholder='Illustrations Author', ng-model='book.illustrations')             
              .form-group(ng-class="{ 'has-success': (bookForm.publisher.$valid), 'has-error': (bookForm.publisher.$invalid) }")
                label.control-label(for='publisher') Publisher *
                .row
                  .col-xs-12
                    input.form-control(name='publisher', type='text', placeholder='Publisher', ng-model='book.publisher', required)
              .form-group(ng-class="{ 'has-success': (bookForm.cover.$valid && bookForm.cover.$dirty && (!!book.cover)), 'has-error': (bookForm.cover.$invalid && bookForm.cover.$dirty) }")
                label.control-label(for='cover') Cover
                .row
                  .col-xs-12
                    input.form-control(name='cover', type='text', placeholder='Cover', ng-model='book.cover', ng-pattern='/\.(gif|jpg|jpeg|tiff|png)$/i')              
            .col-md-5.col-md-offset-1
              .form-group(ng-class="{ 'has-success': (bookForm.authorNationality.$dirty && (!!book.authorNationality)) }")
                label.control-label(for='authorNationality') Author Nationality
                .row
                  .col-xs-12
                    input.form-control(name='authorNationality', type='text', placeholder='Author Nationality', ng-model='book.authorNationality')
              .form-group(ng-class="{ 'has-success': (bookForm.language.$dirty && (!!book.language)) }")
                label.control-label(for='language') Language
                .row
                  .col-xs-12
                    input.form-control(name='language', type='text', placeholder='Book Language', ng-model='book.language')
              .form-group(ng-class="{ 'has-success': (bookForm.themes.$dirty && (!!book.themes)) }")
                label.control-label(for='themes') Themes
                .row
                  .col-xs-12
                    input.form-control(name='themes', type='text', placeholder='Themes', ng-model='book.themes')
              .form-group(ng-class="{ 'has-success': (bookForm.genres.$dirty && (!!book.genres)) }")
                label.control-label(for='genres') Genres
                .row
                  .col-xs-12
                    select.form-control.nya-selectpicker(name='genres', data-live-search='true', ng-options='(genre | titleCase) for genre in genres track by genre', ng-model='book.genres', multiple)
              .form-group(ng-class="{ 'has-success': (bookForm.edition.$dirty && (!!book.edition)) }")
                label.control-label(for='edition') Edition
                .row
                  .col-xs-12
                    input.form-control(name='edition', type='text', placeholder='Edition', ng-model='book.edition')
              .form-group(ng-class="{ 'has-success': (bookForm.published.$dirty && (!!book.published)) }")
                label.control-label(for='published') Published
                .row.input-group.date
                  input.form-control(name='published', type='text', datepicker='datepicker', placeholder='Published', ng-model='book.published')
                  span.input-group-addon
                    i.glyphicon.glyphicon-th



        .row
          .col-md-10.col-md-offset-1

            .form-group(ng-class="{ 'has-success': (bookForm.description.$dirty && (!!book.description)) }")
              label.control-label(for='description') Book review
              .row
                .col-xs-12
                  textarea.form-control(name='description', placeholder='Book review', ng-model='book.description', rows='4')

        .pull-right
          button.btn.btn-primary(ng-disabled='bookForm.$invalid' ng-click='addBook(book)') Add
          a.btn.btn-danger(href='/admin/books', style='margin-left:0.2em') Cancel