
<div class="container">
  <div class="well">
    <h1 class="text-center">Username: {{ userInfo.username }}</h1>
    <table class="table table-striped table-bordered table-wrapped">
      <tr ng-repeat="(key, value) in userInfo">
        <td class="col-md-4"><strong>{{ key }}</strong></td>
        <td>{{ value }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h2>User Libraries</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>User Books</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>User Requests</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>User Reviews</h2>
        </td>
      </tr>
    </table>
    <div class="row"><a href="/admin/user/delete/{{ userInfo._id }}" onclick="return window.confirm(&quot;Deleting an user&quot; || &quot;Are you sure that you want to delete this user?&quot;)" class="btn btn-danger pull-right">Delete   </a><a href="/admin/user/edit/{{ userInfo._id }}" style="margin-right:0.25em" class="btn btn-primary pull-right">Edit</a></div>
  </div>
</div>