<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width = 440, user-scalable = no">
    <meta name="keywords" content="library lol">
    <title>sCOOLbry</title>
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/datepicker3.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/toastr/toastr.css">
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
  </head>
  <body ng-app="app" ng-cloak class="ng-cloak">
    <!-- external libraries-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/toastr/toastr.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.bg.min.js"></script>
    <!-- angularjs scripts-->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- controllers-->
    <script type="text/javascript" src="/scripts/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/signUpCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/profileCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/editProfileCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/userListCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/librariesListCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/libraryDetailsCtrl.js"></script>
    <!--admin panel controllers-->
    <script type="text/javascript" src="/scripts/controllers/adminPanelCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/userInfoCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/editProfileAdminCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/userDeleteCtrl.js"></script>
    <!-- directives-->
    <script type="text/javascript" src="/scripts/directives/tooltip.js"></script>
    <script type="text/javascript" src="/scripts/directives/datepicker.js"></script>
    <script type="text/javascript" src="/scripts/directives/resize.js"></script>
    <!-- services-->
    <script type="text/javascript" src="/scripts/services/auth.js"></script>
    <script type="text/javascript" src="/scripts/services/ajax_post.js"></script>
    <script type="text/javascript" src="/scripts/services/cachedLibraries.js"></script>
    <script type="text/javascript" src="/scripts/services/libraryResource.js"></script>
    <script type="text/javascript" src="/scripts/services/usersResource.js"></script>
    <script type="text/javascript" src="/scripts/services/userResource.js"></script>
    <script type="text/javascript" src="/scripts/services/identity.js"></script>
    <script type="text/javascript" src="/scripts/services/notifier.js"></script>
    <script type="text/javascript" src="/lib/angular-re-captcha/angular-re-captcha.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/tooltip.js"></script>
  </body>
</html>
