doctype
html(ng-app='app', ng-cloak, ng-controller='StyleCtrl')
    head
        meta(http-equiv='content-type', charset='utf8')
        meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
        meta(name='keywords', content='library, management, books, user-friendly, read, borrow')
        meta(name='description', content='Hybrid library management system, combined with borrowing/lending system')
        meta(name='author', content='Stanimira Vlaeva, Petar Petrov')
        link(rel='shortcut icon' type='image/png' href='../../dist/images/favicon.png' )
        title sCOOLbry
        include stylesheets
        link(rel='stylesheet' href='/dist/styles/themes/{{ style }}.min.css')
        link(rel='stylesheet' href='/dist/styles/site.min.css')

    body.ng-cloak
        block main-content

        include scripts
        include currentUser
        