doctype
html
	head
		meta(charset='utf8')
		meta(name = "viewport", content = "width = 440, user-scalable = no")
		meta(name='keywords', content='library lol')
		title sCOOLbry
		include stylesheets
	body(ng-app="app", ng-cloak).ng-cloak
		block main-content

		include scripts
		include currentUser

