// external libraries
script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.js")
script(type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.bg.min.js")

// angularjs scripts
script(type="text/javascript" src="/scripts/app.js")

// controllers
script(type="text/javascript" src="/scripts/controllers/mainCtrl.js")
script(type="text/javascript" src="/scripts/controllers/loginCtrl.js")
script(type="text/javascript" src="/scripts/controllers/signUpCtrl.js")
script(type="text/javascript" src="/scripts/controllers/profileCtrl.js")
script(type="text/javascript" src="/scripts/controllers/editProfileCtrl.js")
script(type="text/javascript" src="/scripts/controllers/userListCtrl.js")
script(type="text/javascript" src="/scripts/controllers/coursesListCtrl.js")
script(type="text/javascript" src="/scripts/controllers/courseDetailsCtrl.js")

//admin panel controllers
script(type="text/javascript" src="/scripts/controllers/adminPanelCtrl.js")
script(type="text/javascript" src="/scripts/controllers/userInfoCtrl.js")
script(type="text/javascript" src="/scripts/controllers/editProfileAdminCtrl.js")
script(type="text/javascript" src="/scripts/controllers/userDeleteCtrl.js")

// directives
script(type="text/javascript" src="/scripts/directives/tooltip.js")
script(type="text/javascript" src="/scripts/directives/datepicker.js")

// services
script(type="text/javascript" src="/scripts/services/auth.js")
script(type="text/javascript" src="/scripts/services/ajax_post.js")
script(type="text/javascript" src="/scripts/services/cachedCourses.js")
script(type="text/javascript" src="/scripts/services/courseResource.js")
script(type="text/javascript" src="/scripts/services/usersResource.js")
script(type="text/javascript" src="/scripts/services/userResource.js")
script(type="text/javascript" src="/scripts/services/identity.js")
script(type="text/javascript" src="/scripts/services/notifier.js")











script(type="text/javascript" src="/lib/angular-re-captcha/angular-re-captcha.js")
script(type="text/javascript" src="/lib/bootstrap/js/tooltip.js")
