
<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/lib/toastr/toastr.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.bg.min.js"></script>
<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/main/mainCtrl.js"></script>
<script type="text/javascript" src="/app/account/loginCtrl.js"></script>
<script type="text/javascript" src="/app/account/signUpCtrl.js"></script>
<script type="text/javascript" src="/app/account/profileCtrl.js"></script>
<script type="text/javascript" src="/app/account/editProfileCtrl.js"></script>
<script type="text/javascript" src="/app/account/identity.js"></script>
<script type="text/javascript" src="/app/account/auth.js"></script>
<script type="text/javascript" src="/app/account/usersResource.js"></script>
<script type="text/javascript" src="/app/account/ajax_post.js"></script>
<script type="text/javascript" src="/app/account/passwordMatch.js"></script>
<script type="text/javascript" src="/app/admin/userListCtrl.js"></script>
<script type="text/javascript" src="/app/courses/coursesListCtrl.js"></script>
<script type="text/javascript" src="/app/courses/courseDetailsCtrl.js"></script>
<script type="text/javascript" src="/app/courses/courseResource.js"></script>
<script type="text/javascript" src="/app/courses/cachedCourses.js"></script>
<script type="text/javascript" src="/app/common/notifier.js"></script>
<script type="text/javascript" src="/app/common/datepicker.js"></script>
<script type="text/javascript" src="/app/common/tooltip.js"></script>
<script type="text/javascript" src="/lib/angular-re-captcha/angular-re-captcha.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/tooltip.js"></script>