// external libraries
script(type='text/javascript' src='/lib/jquery/dist/jquery.js')
script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript' src='/lib/toastr/toastr.js')
script(type='text/javascript' src='/lib/angular/angular.js')
script(type='text/javascript' src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript' src='/lib/angular-route/angular-route.js')
script(type='text/javascript' src='/lib/angular-sanitize/angular-sanitize.js')
script(type='text/javascript' src='/lib/bootstrap-select/dist/js/bootstrap-select.min.js')
script(type='text/javascript' src='/lib/angular-re-captcha/angular-re-captcha.js')
script(type='text/javascript' src='/lib/nya-bootstrap-select/src/nya-bootstrap-select.js')
script(type='text/javascript' src='/lib/angular-timer/dist/angular-timer.js')
script(type='text/javascript' src='/lib/angular-ui-select/dist/select.js')
script(type='text/javascript' src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(type='text/javascript' src='/lib/lodash/dist/lodash.min.js')
script(type='text/javascript' src='/lib/angular-google-maps/dist/angular-google-maps.min.js')
script(type='text/javascript' src='/lib/angular-socket-io/socket.min.js')
script(type='text/javascript' src='/socket.io/socket.io.js')
//- script(type='text/javascript' src='//maps.googleapis.com/maps/api/js?sensor=false')

// Grunt livereload
script(type='text/javascript' src='//localhost:35729/livereload.js')

// css3 media queries polyfill
script(type='text/javascript' src='/lib/mediatizr/mediatizr.js')

// lazy load module
script(type='text/javascript' src='/lib/oclazyload/dist/ocLazyLoad.js')

// angularjs scripts
script(type='text/javascript' src='/dist/app.min.js')

// bootstrap menu bug fix
script(type='text/javascript' src='/lib/bootstrap/bootstrap-menu-fix.js')
