// external libraries' css
link(rel="stylesheet" href="/lib/bootstrap-datepicker/datepicker3.min.css")
link(rel="stylesheet" href="/lib/bootstrap-select/dist/css/bootstrap-select.min.css")
link(rel="stylesheet" href="/lib/toastr/toastr.css")

// bootstrap css
link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")

// site theme
link(rel="stylesheet" href="/dist/styles/themes/flatly.min.css")


// site css
link(rel="stylesheet" href="/dist/styles/site.min.css")
