link(rel="stylesheet" href="/lib/bootstrap-datepicker/datepicker3.min.css")
link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="/lib/toastr/toastr.css")
link(rel="stylesheet" href="/css/site.css")
link(rel="stylesheet" href="/css/font-awesome.min.css")
