.container
  ul.nav.nav-tabs(style="margin-bottom: 25px")
    li.active
      a(href="#personal-information", data-toggle="tab", target="_self").active
        | Personal information
    li
      a(href="#favorites", data-toggle="tab", target="_self")
        | Favorites
    li
      a(href="#libraries", data-toggle="tab", target="_self")
        | Libraries
    li
      a(href="#readings", data-toggle="tab", target="_self")
        | Readings
    li
      a(href="#bookings", data-toggle="tab", target="_self")
        | Bookings
    li
      a(href="#fines", data-toggle="tab", target="_self")
        | Fines

  #myTabContent.tab-content

    include ./personal-information
    include ./favorites
    include ./libraries
    include ./readings
    include ./bookings
    include ./fines