.tab-pane.fade.active.in#personal-information
  .row.vcenter
    .col-md-5.col-xs-5
      img.img-responsive.img-thumbnail(ng-src='{{ user.avatar }}')
    .col-md-7.col-xs-7
      .row
        h3.text-info.text-bold
          | {{ user.firstName }} {{ user.lastName }} ({{ user.username }}) 
        i.fa.fa-male.blue(ng-show='user.gender=="Male"', title='Male', style='font-size: 1.2em')
        i.fa.fa-female.pink(ng-show='user.gender=="Female"', title='Female', style='font-size: 1.2em')
        i.fa.fa-user(ng-show='user.gender=="Not specified"', title='Not Specified', style='font-size: 1.2em')
      .row
        span Member since: {{ user.created | date:'dd MMMM yyyy HH:mm:ss'}}
      .row(ng-show='user.dateOfBirth!=="N/A"')
        span Birthday: {{ user.dateOfBirth | date:'dd MMMM yyyy'}}
      .row
        a(href='{{ user.facebookUrl }}', ng-show='user.facebookUrl!=="N/A"')
          i.fa.fa-facebook(style='font-size: 1.5em; color: #fff;')
        a(href='{{ user.twitterUrl }}', ng-show='user.twitterUrl!=="N/A"')
          i.fa.fa-twitter(style='font-size: 1.5em; color: #fff;')
        a(href='{{ user.googlePlusUrl }}', ng-show='user.googlePlusUrl!=="N/A"')
          i.fa.fa-google-plus(style='font-size: 1.5em; color: #fff;')
      .row
        span Email: {{ user.email }}&nbsp;
        a(href='mailto:{{ user.email }}', title='Send an email')
          i.fa.fa-envelope(style='color: #fff;')
      .row(ng-show='user.aboutMe!==""')
        span About: {{ user.aboutMe }}
      .row
        h4.text-bold Roles
        span(ng-repeat='(key, value) in user.roles')
          span {{ value | titleCase }}
          span(ng-if='!$last') , 
      .row
        h4
          a(href='/profile/edit') Edit profile

  .row
    hr
    .col-md-3.col-md-offset-2.col-sm-3.vcenter.col-xs-offset-2.col-sm-offset-0(style='margin-right:5em;')
      div(barcode-generator='{{user}}')
    .col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-1.hidden-xs.vcenter
      ul
        li That's your personal sCOOLbry ID card.
        li If your library supports our 'sCOOLbry Welcome' system, you can identify yourself with it.
        li At the entrance of the library, use the barcode scanner to scan your card.
        li You can download it (simply click on it) and print it, but you can also use it from your phone or tablet.