.tab-pane.fade#readings
  h3
    | Readings

    accordion
      .row
        .col-md-6(ng-repeat='readingItem in user.readings', style='margin-top: 10px;')   
          accordion-group(is-open='true', style='padding: 0px;')
            accordion-heading
              span {{readingItem.book.title}}
              span.pull-right.text-success Till&nbsp; {{readingItem.reading.endDate | date:'dd/MM/yyyy'}}
            .row

              img.img-responsive.img-thumbnail.col-xs-3.pull-left.text-center(ng-src='{{ readingItem.book.cover }}', err-src='assets/images/missing-cover1.png', style='margin: 0 0.5em;')
              .col-xs-7
                .row
                  .col-md-6(style='padding:0px;')
                    span.text-info.pull-left Author: 
                  .col-md-6(style='padding:0px;')
                    span.pull-left {{ readingItem.book.author }}
                .row
                  .col-md-6(style='padding:0px;')
                    span.text-info.pull-left Publisher:&nbsp;
                  .col-md-6(style='padding:0px;')
                    span.pull-left {{ readingItem.book.publisher }}
            
                .row
                  .col-md-6(style='padding: 0px;')
                    span.text-info Library: 
                  .col-md-6(style='padding: 0px;')
                    a(href='/libraries/{{readingItem.reading.libraryID}}')
                      span {{ readingItem.reading.libraryName }}
                .row
                  .col-md-12(style='padding: 0px;')
                    a.col-xs-8(style='padding:10px 0', ng-href='/book/{{ readingItem.reading.bookID }}/{{ readingItem.reading.libraryID }}')
                      | See more
  p(ng-hide='user.readings.length!==0') No read books found.