include ../panel

.container
    h1.text-center Username: {{ userInfo.username }}
    table.table.table-striped.table-bordered.table-wrapped 
      tr(ng-repeat='(key, value) in userInfo')
        td.col-md-4
          strong {{ key }}
        td {{ value }}

    table
      tr
        td
          h2 User Libraries
      tr
        td
          h2 User Books
      tr
        td
          h2 User Requests
      tr
        td
          h2 User Reviews
     
    
    .row
      a.btn.btn-danger.pull-right(href='/admin/user/delete/{{ userInfo._id }}' onclick='return window.confirm("Deleting an user" || "Are you sure that you want to delete this user?")') Delete   
      a.btn.btn-primary.pull-right(href='/admin/user/edit/{{ userInfo._id }}', style='margin-right:0.25em') Edit
      

