include ../panel

.container
  .well
    form.form-horizontal(name='profileForm')
      fieldset
        input.form-control(type='hidden', ng-model='user._id')
        legend Update profile
        .row
          .col-md-11.col-md-offset-1
            .col-md-5
              .form-group(ng-class="{ 'has-success': (profileForm.firstName.$valid && profileForm.lastName.$valid) }")
                  label.control-label(for="first-name") Name
                  .row
                      .col-xs-6
                          input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="user.firstName", required)
                      .col-xs-6
                          input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="user.lastName", required)
              .form-group(ng-class="{ 'has-error': (profileForm.email.$invalid && profileForm.email.$dirty), 'has-success': (profileForm.email.$valid) }")
                  label.control-label(for="email") Email
                  .row
                      .col-xs-12
                          input.form-control(name="email", type="text", placeholder="Email", ng-model="user.email", ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+[.][a-z.]{2,5}$/", ng-change="fieldsMatch(profileForm.email, profileForm.confirmEmail); checkIfTaken(profileForm.email)", required)
                          span.has-error.help-block(ng-show="profileForm.email.$error.taken") Email already taken
                          span.has-error.help-block(ng-show="profileForm.email.$invalid && profileForm.email.$dirty") Please enter valid email
              .form-group(ng-class="{ 'has-error': (profileForm.confirmEmail.$invalid && profileForm.confirmEmail.$dirty), 'has-success': (profileForm.confirmEmail.$valid) }")
                  label.control-label(for="confirm-password") Confirm email
                  .row
                    .col-xs-12
                        input.form-control(name="confirmEmail", type="text", placeholder="Confirm email", ng-model="emailConfirm", ng-change="fieldsMatch(profileForm.email, profileForm.confirmEmail)", required)
                        span.has-error.help-block(ng-show="profileForm.confirmEmail.$error.notMatching && profileForm.confirmEmail.$dirty") These emails don't match. Try again?
              .form-group(ng-class="{ 'has-error': (profileForm.password.$invalid && profileForm.password.$dirty), 'has-success': (profileForm.password.$valid && profileForm.password.$dirty) }")
                  label.control-label(for="password") New Password
                  .row
                      .col-xs-12
                          input.form-control(name="password", type="password", placeholder="Password", tooltip, data-placement='left', data-trigger="focus", title="Lowercase letters, digits, hyphens and underscores. 6-18 characters", ng-model="user.password", ng-pattern="/^[a-z0-9_-]{6,18}$/", ng-change="fieldsMatch(profileForm.password, profileForm.confirmPassword)")
              .form-group(ng-class="{ 'has-error': (profileForm.confirmPassword.$invalid && profileForm.confirmPassword.$dirty), 'has-success': (profileForm.confirmPassword.$valid && profileForm.confirmPassword.$dirty) }")
                  label.control-label(for="confirm-password") Confirm password
                  .row
                    .col-xs-12
                        input.form-control(name="confirmPassword", type="password", placeholder="Confirm password", ng-model="passwordConfirm", ng-change="fieldsMatch(profileForm.password, profileForm.confirmPassword)")
                        span.has-error.help-block(ng-show="profileForm.confirmPassword.$error.notMatching && profileForm.confirmPassword.$dirty") These passwords don't match. Try again?
            .col-md-5.col-md-offset-1
              .form-group(ng-class="{ 'has-success': (profileForm.gender.$valid && (!!user.gender)) }")
                label.control-label(for='gender') Gender
                .row
                  .col-xs-12
                    select.form-control(name='gender', form='profileForm', ng-model='user.gender')
                      option Not specified
                      option Male
                      option Female
              .form-group(ng-class="{ 'has-success': (profileForm.dateOfBirth.$valid && (!!user.dateOfBirth)) }")
                label.control-label(for='date-of-birth') Date of birth
                .row.input-group.date
                    input.form-control(name='dateOfBirth', type='text', datepicker='datepicker', placeholder='Date of birth', ng-model='user.dateOfBirth')
                    span.input-group-addon
                      i.glyphicon.glyphicon-th
              .form-group(ng-class="{ 'has-success': (profileForm.facebookUrl.$valid && (!!user.facebookUrl)) }")
                label.control-label(for='facebook-url') Facebook URL
                .row
                  .col-xs-12
                    input.form-control(name='facebookUrl', type='text', placeholder='Facebook URL', ng-model='user.facebookUrl')
              .form-group(ng-class="{ 'has-success': (profileForm.twitterUrl.$valid && (!!user.twitterUrl)) }")
                label.control-label(for='twitterUrl') Twitter URL
                .row
                  .col-xs-12
                    input.form-control(name='twitterUrl', type='text', placeholder='Twitter URL', ng-model='user.twitterUrl')
              .form-group(ng-class="{ 'has-success': (profileForm.googlePlusUrl.$valid && (!!user.googlePlusUrl)) }")
                label.control-label(for='googlePlusUrl') Google+ URL
                .row
                  .col-xs-12
                    input.form-control(name='googlePlusUrl', type='text', placeholder='Google+ URL', ng-model='user.googlePlusUrl')
        
        .row
          .col-md-10.col-md-offset-1

            .form-group(ng-class = "{ 'has-success': profileForm.roles.$dirty }")
              label.control-label(for='roles') Roles
              .row
                .col-xs-12
                    select.form-control.nya-selectpicker(title='Select user roles', ng-options='(role | titleCase) for role in roles track by role', ng-model='user.roles', multiple)


            .form-group(ng-show="user.roles.indexOf('librarian')!=-1 || user.roles.indexOf('libraryOwner')!=-1")
                label.control-label(for='library') Library
                .row
                  .col-xs-6
                    select.form-control.nya-selectpicker(name='ownLibraryID', title='Select existing', ng-options='value.name for (key, value) in libraries track by value._id', ng-model='libraryObject', data-live-search, multiple, ng-change='selectLibrary(profileForm.ownLibraryID)')
                  
                  .col-xs-6
                    input.form-control(placeholder='or Add New', ng-model='libraryObject')





            .form-group(ng-class="{ 'has-success': (profileForm.aboutMe.$valid && (!!user.aboutMe)) }")
              label.control-label(for='aboutMe') About Me
              .row
                .col-xs-12
                  textarea.form-control(name='aboutMe', rows='3', placeholder='About Me', ng-model='user.aboutMe')
            .form-group(ng-class="{ 'has-success': (profileForm.ownLibraryID.$valid && (!!user.ownLibraryID)) }")
              label.control-label(for='ownLibraryID') Library
              .row
                .col-xs-12
                  input.form-control(name='ownLibraryID', placeholder='Library', ng-model='user.ownLibraryID')
            .form-group(ng-class="{ 'has-success': (avatarUploadSuccessful), 'has-error': (avatarUploadError || avatarTypeError) }")
              label.control-label(for='avatar') Avatar
              .row
                .col-xs-8
                    input.form-control(name='avatar', type='file', ng-model='upFile', onchange='angular.element(this).scope().setFileEventListener(this)')
                    button#btnStartUpload.btn.start.btn-success(type='submit', loading-button, data-loading-text='Uploading...', value='Send', ng-click='uploadFile()', ng-disabled='!uploadButtonState', style='margin-top:0.5em') Upload file
                    span.has-error.help-block(ng-show='avatarTypeError') The supported types are GIF, JPEG, PNG and TIFF
                    span.has-error.help-block(ng-show='avatarUploadError') An error occured. Please try again later.
                .col-xs-4
                  img.image-responsive.img-thumbnail(ng-src='{{ user.avatar }}', ng-bind='user.avatar')

        .pull-right
          button.btn.btn-primary(ng-click='updateAsAdmin(user)', ng-disabled='profileForm.$invalid') Update
          a.btn.btn-danger(href='/admin/users', style="margin-left:0.2em") Cancel
