.jumbotron
  .container
    h1 Books Catalog
    .row
      .col-md-6
        h3 Filter Phrase
      .col-md-3
        h3 Filter By
    .row
      .col-md-6
        input.form-control(type='text' ng-model='phrase' ng-change='reloadBooks(); pages();' placeholder='Phrase' style='width: 100%;')
      .col-md-3
        select.selectpicker(ng-model='criteria' ng-change='reloadBooks(); pages();')
          option(value='all') All
          option(value='title') Titles
          option(value='author') Authors
          option(value='themes') Themes   
      
.container
  .row
    .col-md-3
      h1 Order By
      select.selectpicker(ng-model='field' ng-change='reloadBooks(); pages();')
        option(value='title') Title
        option(value='author') Author
        option(value='published') Year
        option(value='themes') Themes
        option(value='uploaded') Date Added To sCOOLbry
      h1 Order
      select.selectpicker(ng-model='order' ng-change='reloadBooks(); pages();')
        option(value='asc') Ascending (A-Z)
        option(value='desc') Descending (Z-A)
    .col-md-9
      div(ng-repeat='book in books', ng-init="pages();")
        .row
          a(ng-href='/book/{{book._id}}')
            img.img-responsive(ng-src='{{book.cover}}').col-md-2.col-sm-2.col-xs-3
          div.col-md-10.col-sm-10.col-xs-9
            a(ng-href='/book/{{book._id}}')
              h3.vcenter(style='margin:0.2em 0')
                | {{book.title}} &nbsp;&nbsp;
                span.badge.vcenter {{book.published | date:'MMM dd, yyyy'}}
            p
              | by 
              span.text-info {{book.author}}
            p.text-justify.hidden-xs {{ book.description | cut:true:250:'...'}}
        hr
      .pagination
          li(ng-repeat="i in range(pagesCount) track by $index")
            a(class="pageItem" href="#" ng-click="setPage($index+1, $event); reloadBooks();" id="page-{{ $index+1 }}") {{ $index+1 }}