include ../panel

.container
  h1.text-info.text-center About the book
  .row(style='margin-top: 3em')
    .col-md-10.col-md-offset-1
      .col-xs-2
        img.img-responsive.img-thumbnail(ng-src='{{book.cover}}', style='margin-top:21px')
      .col-xs-10
        h2 {{book.title}}
        div
          span.text-muted(ng-repeat='genre in book.genres | limitTo:2')
            span {{genre | titleCase}}
            span(ng-show='!$last') , 
            span(ng-show='$last') &nbsp; / 
          span.text-info {{book.publisher}}
          span.text-info.pull-right {{ book.author }}
        div(ng-show='!showMore')
          p {{ book.description | limitTo: 200}}...
          a(href='#' ng-click='showMore=!showMore') Show more
        div(ng-show='!!showMore')
          p {{ book.description}}
          a(href='#' ng-click='showMore=!showMore') Show less

  .row
    .col-md-10.col-md-offset-1(ng-show='book.other')
      .panel.panel-primary(style='margin-top:2em', ng-show='!!showMore')
        .panel-heading
          h4.text-center Additional information
        .panel-body
          div.col-xs-5(ng-repeat='(key,value) in book.other')
            li
              span.text-success.text-bold {{ key }} 
              span : {{ value }}

  h1.text-info.text-center At the library's storage:

  .row.text-center
    h2.text-bold Total: 
      span.text-success {{libraryBook.total}}
    h2.text-bold Available: 
      span.text-success {{libraryBook.available}}
    h2.text-bold Given:  
      span.text-success {{libraryBook.given}}
    h2.text-bold Section:  
      span.text-success {{libraryBook.section}}


  .row
    a.btn.btn-danger.pull-right(href='/library-panel/book/delete/{{ libraryBook._id }}', onclick='return window.confirm("Deleting a book" || "Are you sure that you want to delete this book?")') Delete
    a.btn.btn-primary.pull-right(href='/library-panel/book/edit/{{ libraryBook._id }}', style='margin-right:0.2em') Edit
