
<div class="container-fluid">
  <div id="welcome-section" class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-4 vcenter"><img src="../../images/hourglass.png" class="img-responsive"/></div>
      <div class="col-md-8 col-xs-8 vcenter">
        <h1>Hundreds of books</h1>
        <h2>Just&nbsp;<a href="/">1 click</a>&nbsp;away</h2>
        <div class="btn-group-lg text-center"><a href="/about-us" class="btn btn-info btn-lg">Learn more</a><a href="/signup" class="btn btn-primary btn-lg">Sign up</a></div>
      </div>
    </div>
  </div>
</div>
<div id="homepage-container" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading text-center">Featured</div>
        <div ng-include="'/partials/main/featured-libraries'" class="panel-body"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading text-center">New</div>
        <div ng-include="'/partials/main/new-libraries'" class="panel-body"></div>
      </div>
    </div>
  </div>
</div>
<h1 id="h01"></h1>