.container
  .row
    .col-md-2 Search
    .col-md-4
      input.form-control(type="text", placeholder="Search", ng-model="search")
    .col-md-2 Sort
    .col-md-4
      select.form-control(ng-model="sort")
        option(value=" " ng-selected="'true'") Default
        option(value="name") Name
        option(value="description") Description
  br
  table.table
    tr
      th Title
      th Description
    tr(ng-repeat="library in libraries | filter: search | orderBy: sort")
      td
        a(href="/libraries/{{ library._id }}") {{ library.name }}
      td {{ library.description }}
