
<div class="container">
  <div class="row">
    <div class="col-md-2">Search</div>
    <div class="col-md-4">
      <input type="text" placeholder="Search" ng-model="search" class="form-control"/>
    </div>
    <div class="col-md-2">Sort</div>
    <div class="col-md-4">
      <select ng-model="sort" class="form-control">
        <option value=" " ng-selected="'true'">Default</option>
        <option value="name">Name</option>
      </select>
    </div>
  </div><br/>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="library in libraries | filter: search | orderBy: sort">
      <td><a href="/libraries/{{ library._id }}">{{ library.name }}</a></td>
      <td>{{ library.description }}</td>
    </tr>
  </table>
</div>
