.container
  .well

    ul.nav.nav-tabs(style="margin-bottom: 25px")
        li.active
            a(href="#about", data-toggle="tab", target="_self").active
                |  About
        li
            a(href="#books", data-toggle="tab", target="_self")
                | Books
        li
            a(href="#interactions", data-toggle="tab", target="_self")
                | My interactions

    #myTabContent.tab-content
       
        .tab-pane.fade.active.in#about

          h1.text-center {{ library.name }}
          h4.text-center.text-primary {{ library.address }}, {{ library.city }}, {{ library.country.name }}

          p {{ library.description }}

          div(ng-show="isLoggedIn" class="ng-show")
            div(ng-hide="isMember" class="ng-hide")
              h3 Become a Member
              button.btn.btn-primary(ng-click='subscribeForLibrary()') Subscribe
          div(ng-show="isLoggedIn" class="ng-show")
            div(ng-show="isMember" class="ng-show")
              h3 Unsubscribe
              button.btn.btn-primary(ng-click='unsubscribeForLibrary()') Unsubscribe


        .tab-pane.fade#books

          h2 Library Books
          ul
            li(ng-repeat="book in books")
              a(href="/book/{{ book.bookID }}") {{ book.bookName }}
          div(ng-show="isMember" class="ng-show")


        .tab-pane.fade#interactions

          h2 Books That You've Read In This Library
          ul
            li(ng-repeat="reading in readings") {{ reading.bookISBN }}

