.tab-pane.fade.active.in#about
  .row
    .col-md-6
      div
        h2.text-success Description
        p {{ library.description }}

      div(ng-show='isLoggedIn && !isMember')
        h2.text-success Become a Member
        button.btn.btn-primary(ng-click='subscribeForLibrary()') Subscribe
      div(ng-show='isLoggedIn && isMember')
        h2.text-success Unsubscribe
        button.btn.btn-primary(ng-click='unsubscribeForLibrary()') Unsubscribe

    .col-md-5.col-md-offset-1

      .panel.panel-primary(style='margin-top:2em')
        .panel-heading
          h4 Additional information
        .panel-body
          p
            span.text-success.text-bold Books count:
            | &nbsp;&nbsp;{{ booksCount }}
          p
            span.text-success.text-bold Members:
            | &nbsp;&nbsp;{{ membersCount }}
          p
            span.text-success.text-bold Location:
            | &nbsp;&nbsp;{{ library.address.formatted_address }}

      ui-gmap-google-map(center='map.center', zoom='map.zoom')
        ui-gmap-marker(coords='marker.coords', idkey='marker.idkey', icon='marker.icon', options='marker.options')