.tab-pane.fade#books

  h2.text-center Library Books
  .col-md-11

    input.form-control.col-xs-offset-1.col-xs-9(type="text", placeholder="Type to search in {{ books.length }} books...", ng-model="search")

    div(ng-repeat='book in books | filter: search' ng-class-even="'row'" ng-class-odd="'md-col-6'")
      .col-md-6
          .col-xs-4(style='margin-top: 3em')
            a(href='/book/{{ book._id }}/{{library._id}}')
              img.img-responsive.img-thumbnail(src='{{book.cover}}', style='margin-top:10.5px')
          .col-xs-8(style='margin-top: 3em')
            a(href='/book/{{ book._id }}/{{library._id}}')
              h4.text-info {{book.title | cut:true:35:'...'}}
            div
              span.text-bold.text-muted Publisher: 
              span.text-info {{book.publisher}}
            div
              span.text-bold.text-muted Author: 
              span.text-info {{ book.author }}
            div.text-muted
              span.text-bold ISBN: 
              span {{ book.isbn }}
  .row
