.tab-pane.fade.active.in#about
  .row
    .col-md-7

      h2 Main information
      table.table.table-striped.table-bordered.table-wrapped
        tr
          td Registered
          td {{library.published | date: 'MMM dd, yyyy'}}
        tr
          td Location
          td {{library.address.formatted_address}}
        tr
          td Books count
          td {{libraryBooks.length}}
        tr
          td Members count
          td {{membersCount}}
        tr
          td Certified
          td
            i.fa(ng-class="{ 'fa-check text-success': (library.certified==true), 'fa-times text-danger': (library.certified==false) }")
        tr
          td Visible
          td
            i.fa(ng-class="{ 'fa-check text-success': (library.visible==true), 'fa-times text-danger': (library.visible==false) }")
        tr
          td Featured
          td
            i.fa(ng-class="{ 'fa-check text-success': (library.featured==true), 'fa-times text-danger': (library.featured==false) }")
        tr
          td Tags
          td(ng-repeat='tag in library.tags')
            span  {{tag}}
            span(ng-show='!$last') ,
      
      div
        h3 Certificate
        img(src='{{library.certificate}}').img-responsive.img-thumbnail
      div(ng-show='library.description')
        h2.text-success Description
        p {{ library.description }}

    .col-md-4.col-md-offset-1

      ui-gmap-google-map(center='map.center', zoom='map.zoom')
        ui-gmap-marker(coords='marker.coords', idkey='marker.idkey', icon='marker.icon', options='marker.options')