.tab-pane.fade#library-books
  h2 Library books
  table.table.table-striped.table-bordered.table-wrapped
    tr
      th Book Name
      th Total Copies 
      th Copies Available 
      th Copies Given
      th Book Section
      th
    tr(ng-repeat='book in libraryBooks')
      td.col-md-4
        strong {{ book.bookName }}
      td {{ book.total }}
      td {{ book.available }}
      td {{ book.given }}
      td {{ library.librarySections.sectionsTheme[book.section] }}
      td
        a(ng-href='/book/{{book.bookID}}/{{library._id}}') Link