/*
* Barcode
*/

.barcode
  &.code128
    float left
    height 100%
    min-height 10px
    & > div
      &.b
        background none repeat scroll 0 0 #000000
        float left
        height 100%
      &.w
        background none repeat scroll 0 0 #FFFFFF
        float left
        height 100%
    .w20
      width 20px
    .w1
      width 1px
    .w2
      width 2px
    .w3
      width 3px
    .w4
      width 4px
    .w5
      width 5px
    .w6
      width 6px
    .w7
      width 7px
    .w8
      width 8px
    .w9
      width 9px
    .w10
      width 10px
    .b1
      width 1px
    .b2
      width 2px
    .b3
      width 3px
    .b4
      width 4px
    .b5
      width 5px
    .b6
      width 6px
    .b7
      width 7px
    .b8
      width 8px
    .b9
      width 9px
    .b10
      width 10px

.barcode
  &.code128
    float left
    height 100%
    min-height 10px
    & > div
      &.b
        background none repeat scroll 0 0 #000000
        float left
        height 100%
      &.w
        background none repeat scroll 0 0 #FFFFFF
        float left
        height 100%
    .w20
      width 20px
    .w1
      width 1px
    .w2
      width 2px
    .w3
      width 3px
    .w4
      width 4px
    .w5
      width 5px
    .w6
      width 6px
    .w7
      width 7px
    .w8
      width 8px
    .w9
      width 9px
    .w10
      width 10px
    .b1
      width 1px
    .b2
      width 2px
    .b3
      width 3px
    .b4
      width 4px
    .b5
      width 5px
    .b6
      width 6px
    .b7
      width 7px
    .b8
      width 8px
    .b9
      width 9px
    .b10
      width 10px

