
/*
* Header styles
*/

header
  font-size 8.5px
  font-size 0.85rem
  border-bottom 3px solid #00c2ff !important
  padding 0 20px !important
  ul
    a
      font-size 2em
  ul
    ul
      a
        font-size 1em


header
  .navbar-brand
    background url('../../dist/images/logo.png') no-repeat center
    width 150px
    height 82px
  #navbar-collapsed-notifications
    width 46px !important
    height 35px !important
    .badge
      position absolute
      top -9px
      left 30px
  ul#mobile-notifications
    width 100%
    font-size 1em
    a
      padding 18px 10px
  .navbar-header
    margin-top 1em
  .navbar-form
    margin-top 19px
  .ui-select-choices
    max-height 341px !important
  .navbar-right .navbar-form
    input
      margin-right 1.4em
    a.btn
      margin-left 1.4em
    .input-group-btn
      display inline
  #search-header
    width 70em
    margin-left 4em
    margin-top 3em
    .form-group
      width 100%
      input
        width 100%
      button
        width 40px
  ul.notifications
    right -162px
    width 400px
    padding 0 !important
    margin-top 2px
    h4
      padding 15px !important
      margin 0 !important
    a
      padding 30px 10px
      margin 0 !important
    li
      border-bottom 1px solid #999
      margin 0
    p
      margin 2px 0 !important
  .nav.navbar-nav.navbar-right
    #navbar-default-notifications
      margin-top 30px
      margin-bottom 29px
    .notifications-icon
      position relative
      .badge
        position absolute
        top -7px
        left 30px
    .notifications-icon-none
      background rgba(255,255,255,0)
      border 1px solid #fff
      color #fff
      &:hover
        background rgba(255,255,255,.5)
      
    a
      margin-top 21px
      margin-bottom 21px
    .dropdown-menu
      a
        margin 5px




@media (max-width: 1250px)
  header
    font-size 8.25px
    font-size 0.825rem
    #search-header
      width 65em

@media (max-width: 1198px)
  header
    font-size 8px
    font-size 0.8rem
    #search-header
      width 60em

@media (min-width: 768px) and (max-width: 1118px)
  header
    #search-header
      width 30em

@media (min-width: 768px) and (max-width: 878px)
  header
    font-size 7px
    font-size 0.7rem

@media (min-width: 768px) and (max-width: 878px)
  header
    #search-header
      display none
    font-size 7.75px
    font-size 0.775rem

@media (max-width: 768px)
  header
    font-size 8.5px
    font-size 0.85rem
    .nav.navbar-nav.navbar-right
      #navbar-default-notifications
        display none
      a
        margin-top 14px
        margin-bottom 14px
      .dropdown-menu
        a
          margin 5px
    a.dropdown-toggle
      margin-bottom 0 !important
    #search-header
      width 100%
      margin-left 0
    .sign-up
      border inherit !important
      color inherit !important
      &:hover
        color inherit !important

.navbar
  .nav
    & > li
      & > .dropdown-menu
        &::before
          position absolute
          top -7px
          left 9px
          display inline-block
          border-right 7px solid transparent
          border-bottom 7px solid #CCC
          border-left 7px solid transparent
          border-bottom-color rgba(0, 0, 0, 0.2)
          content ''
        &::after
          position absolute
          top -6px
          left 10px
          display inline-block
          border-right 6px solid transparent
          border-bottom 6px solid white
          border-left 6px solid transparent
          content ''
