
/*
* Homepage styles
*/

/*
* Welcome section styles
*/

#welcome-section
  font-size 25px
  font-size 2.5rem
  padding 20px
  h1
    font-size 3.6em
  h2
    font-size 2.4em
    margin-top 0.4em
  h1, h2
    text-align center
    font-weight normal
  img
    margin auto
  a
    &:hover
      text-decoration none
  .btn-group-lg
    margin-top 2.5em
    a
      padding 0.76em 0.64em
      font-size 1em
      line-height 1.33
      border-radius(6px)
      width 11em
      border 1px solid #fff
    .btn-info
      margin-right 1em
    .btn-primary
      margin-right 1em


@media screen and (max-width: 1285px)
  #welcome-section
    font-size 20px
    font-size 2rem
    img
      width 60%
    .col-md-8
      margin-left -3%

@media screen and (max-width: 1032px)
  #welcome-section
    font-size 18px
    font-size 1.8rem
    img
      width 50%
    .col-md-8
      margin-left -5%

@media screen and (max-width: 942px)
  #welcome-section
    font-size 16px
    font-size 1.6rem

@media screen and (max-width: 849px)
  #welcome-section
    font-size 14px
    font-size 1.4rem
    .col-md-4
      display none
    .col-md-8
      width 100%
      margin 0

@media screen and (max-width: 504px)
  #welcome-section
    font-size 12px
    font-size 1.2rem
