
/*
* Homepage styles
*/

/*
* Welcome section styles
*/

#welcome-section
  font-family gothic !important
  background url('../images/book-min.jpg') bottom center no-repeat
  background-size cover !important
  font-size 25px
  font-size 2.5rem
  h1
    font-size 3.6em
  h2
    font-size 2.4em
    margin-top 0.5em
    a
      color #2094F7
  h1, h2
    font-family gothic !important
    color #fff
    text-align center
    font-weight normal
  img
    margin auto
  a
    &:hover
      text-decoration none
  .ui-select-container
    width 100%
    margin-top 2.5em
    .ui-select-choices
      font-size 0.6em
    .ui-select-search
      font-size 1.2em !important
      padding 1em !important
    .ui-select-match
      .ui-select-toggle
        outline 0
        padding 2em
        background rgba(255,255,255,0.3)
        position relative
        span
          color #BDD0E3
          font-size 2em
          position absolute
          top 9px
          text-align center


  .btn-group
    padding-bottom 1.8em
    margin-top 2em !important
    a
      padding 0.76em 0.4em
      font-size 1em
      line-height 1.33
      border-radius(6px)
      width 11em
      border 1px solid #fff

@media screen and (max-width: 1485px)
  #welcome-section
    font-size 18px
    font-size 1.8rem

@media screen and (max-width: 1032px)
  #welcome-section
    font-size 18px
    font-size 1.8rem

@media screen and (max-width: 942px)
  #welcome-section
    font-size 16px
    font-size 1.6rem
    .ui-select-container
      .ui-select-match
        .ui-select-toggle
          span
            top 11px
            font-size 1.6em

@media screen and (min-width: 768px)
  #welcome-section
    padding-top 68px
    padding-bottom 68px

@media screen and (max-width: 849px)
  #welcome-section
    font-size 14px
    font-size 1.4rem
    .col-md-4
      display none
    .col-md-8
      width 100%
      margin 0

@media screen and (max-width: 504px)
  #welcome-section
    font-size 12px
    font-size 1.2rem

.container-light, .container-dark
  font-family gothic !important
  h3
    text-transform uppercase
    margin-bottom 1em
    margin-top 2em
    b
      margin-right 0.5em
  p
    line-height 2em
    
@media screen and (max-width: 768px)
  .container-light, .container-dark
    text-align center
    
.container-dark
  background #1f1f1f
  p
    color #ccc