
/*
* Main styles
*/

/*
* Functions for cross browser rendering
*/

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -o-transition arguments
  transition arguments


body
	padding-top 115px
	background-color #F5F5F5

.well
	background-color #FFF
	input
		border 1px solid #E5E5E5

.panel
	border 1px solid #E5E5E5


.toast-top-right
	top 70px

.container-fluid
	padding 0

.form-group
	.input-group
		padding 0 15px !important

.vcenter
  display inline-block
  vertical-align middle
  float none

.table-wrapped
  table-layout fixed
  word-wrap break-word

/*
* RECAPTCHA
 */

.recaptchatable #recaptcha_response_field
  display block
  width 100%
  height 40px
  padding 8px 12px
  font-size 16px
  line-height 1.42857143
  color #333333
  background-color #ffffff
  background-image none
  border 1px solid #e5e5e5 !important
  border-radius 4px
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  transition border-color ease-in-out .15s, box-shadow ease-in-out .15s


/*
* Social buttons for Bootstrap 3
*/

.btn-facebook
  color #ffffff
  background-color #133783
  border-color #133783

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook
  color #ffffff
  background-color #0e285f
  border-color #0b214e

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook
  background-image none

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active
  background-color #133783
  border-color #133783

.btn-twitter
  color #ffffff
  background-color #2daddc
  border-color #0271bf

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter
  color #ffffff
  background-color #2095c0
  border-color #014d82

.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter
  background-image none

.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active
  background-color #2daddc
  border-color #0271bf

.btn-google-plus
  color #ffffff
  background-color #dd4b39
  border-color #c53727

.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus
  color #ffffff
  background-color #ca3523
  border-color #92291d

.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus
  background-image none

.btn-google-plus.disabled,
.btn-google-plus[disabled],
fieldset[disabled] .btn-google-plus,
.btn-google-plus.disabled:hover,
.btn-google-plus[disabled]:hover,
fieldset[disabled] .btn-google-plus:hover,
.btn-google-plus.disabled:focus,
.btn-google-plus[disabled]:focus,
fieldset[disabled] .btn-google-plus:focus,
.btn-google-plus.disabled:active,
.btn-google-plus[disabled]:active,
fieldset[disabled] .btn-google-plus:active,
.btn-google-plus.disabled.active,
.btn-google-plus[disabled].active,
fieldset[disabled] .btn-google-plus.active
  background-color #dd4b39
  border-color #c53727

