#recaptcha_table
    width 100%

@media screen and (max-width: 1188px)
    #recaptcha_logo
        display none


@media screen and (max-width: 991px)
    #recaptcha_table
        width inherit
    .well
        padding 40px

@media screen and (max-width: 705px)
    #recaptcha_table
        width 100%

@media screen and (max-width: 500px)
    #recaptcha_response_field
        width 100% !important
    #recaptcha_image
        width 100% !important
        img
            width 100% !important