
<div class="container">
  <div class="well">
    <ul class="nav nav-pills">
      <li ng-show="identity.currentUser.isAdmin()" class="active"><a href="admin/settings">Settings</a></li>
      <li ng-show="identity.currentUser.isAdmin()" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Libraries<span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="admin/libraries/add">Add</a></li>
          <li><a href="admin/libraries">Browse</a></li>
          <li><a href="admin/libraries/search">Search</a></li>
        </ul>
      </li>
      <li ng-show="identity.currentUser.hasLibraryPanel()" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Library<span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="admin/library-details">Library Details</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Books<span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="admin/books/add">Add</a></li>
          <li><a href="admin/books-library">Browse</a></li>
          <li><a href="admin/books/search-library">Search</a></li>
        </ul>
      </li>
      <li ng-show="identity.currentUser.hasLibraryPanel()" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Library Users<span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="admin/libraries/add-user">Add</a></li>
          <li><a href="admin/libraries/users">Browse</a></li>
          <li><a href="admin/libraries/users-search">Search</a></li>
          <li><a href="admin/libraries/book-requests">Book Requests</a></li>
          <li><a href="admin/libraries/do">User Interaction</a></li>
        </ul>
      </li>
      <li ng-show="identity.currentUser.isAdmin()" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Users<span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="admin/users/add">Add</a></li>
          <li><a href="admin/users">Browse</a></li>
          <li><a href="admin/users/search">Search</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>