
<div class="container">
  <div class="well">
    <h1 class="text-center">Users list</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <input placeholder="Search..." ng-model="search"/>
      </div>
    </div>
    <div id="users-list" ng-init="pages();" class="table-responsive">
      <table ng-class="{ 'table-wrapped': windowWidth&gt;768 }" resize="resize" class="table table-hover table-bordered">
        <thead>
          <tr class="text-bold text-primary">
            <td id="_id" ng-click="sort($event); reloadUsers()">ID<span id="_id" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="username" ng-click="sort($event); reloadUsers()">Username<span id="username" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="firstName" ng-click="sort($event); reloadUsers()">First name<span id="firstName" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="lastName" ng-click="sort($event); reloadUsers()">Last name<span id="lastName" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="created" ng-click="sort($event); reloadUsers()">Created<span id="created" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="email" ng-click="sort($event); reloadUsers()">Email<span id="email" class="glyphicon glyphicon-sort text-right"></span></td>
            <td id="roles" ng-click="sort($event); reloadUsers()">Roles<span id="roles" class="glyphicon glyphicon-sort text-right"></span></td>
            <td>Actions</td>
          </tr>
        </thead>
        <tr ng-repeat="user in users">
          <td class="text-bold">{{ user._id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.created }}</td>
          <td>{{ user.email }}</td>
          <td>
            <p ng-repeat="role in user.roles track by $index">{{ role | titleCase }}</p>
          </td>
          <td><a href="/admin/user/{{ user._id }}" title="Browse" tooltip="tooltip" class="btn-sm"><span class="glyphicon glyphicon-search text-success"></span></a><a href="/admin/user/edit/{{ user._id }}" title="Edit" tooltip="tooltip" class="btn-sm"><span class="glyphicon glyphicon-edit text-primary"></span></a><a href="/admin/user/delete/{{ user._id }}" title="Delete" tooltip="tooltip" onclick="return window.confirm(&quot;Deleting an user&quot; || &quot;Are you sure that you want to delete this user?&quot;)" class="btn-sm"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
        </tr>
      </table>
    </div>
    <div class="pagination">
      <li ng-repeat="i in range(pagesCount) track by $index"><a href="#" ng-click="setPage($index+1, $event); reloadUsers();" id="page-{{ $index+1 }}" class="pageItem">{{ $index+1 }}</a></li>
    </div>
  </div>
</div>