.container
    .well
        form.form-horizontal(name="logInForm" ng-controller="LoginCtrl")
            fieldset
                legend Login
                .form-group
                    label.col-md-2.control-label(for="username") Username
                    .col-md-10
                        input.form-control(type="text", placeholder="Username", ng-model="user.username", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(type="password", placeholder="Password", ng-model="user.password", required)
                .pull-right
                    button.btn.btn-primary(ng-click="login(user)", ng-disabled="logInForm.$invalid") Login
                    a.btn.btn-primary(href="/") Cancel
