.container
    .well


        ul.nav.nav-tabs
            li.active
                a(href="#personal-information", data-toggle="tab", target="_self").active
                    | Personal information
            li
                a(href="#favorites", data-toggle="tab", target="_self")
                    | Favorites
            li
                a(href="#libraries", data-toggle="tab", target="_self")
                    | Libraries

        #myTabContent.tab-content
            .tab-pane.fade.active.in#personal-information
                p
                    | Personal information Personal information Personal information Personal information Personal information Personal information Personal information
            .tab-pane.fade#favorites
                p
                    | favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites favorites

            .tab-pane.fade#libraries
                p
                    | libraries


        a(href="/profile/edit")
            | Edit Profile