
<div class="container">
  <div class="well">
    <form name="signUpForm" class="form-horizontal">
      <fieldset>
        <legend>
          <div class="row">
            <div class="col-md-4 col-xs-4 vcenter">
              <h2>Sign up</h2>
            </div>
            <div class="col-md-8 col-xs-8 vcenter">
              <h6 class="text-right">Already have an account?<a href="../login">&nbsp;Login</a></h6>
            </div>
          </div>
        </legend>
        <div class="row">
          <div class="col-md-5 col-xs-2">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group">
                <btn class="btn btn-lg btn-facebook btn-block"><i class="fa fa-facebook"></i>&nbsp;| Connect with Facebook</btn>
              </div>
              <div class="form-group">
                <btn class="btn btn-lg btn-twitter btn-block"><i class="fa fa-twitter"></i>&nbsp;| Connect with Twitter</btn>
              </div>
              <div class="form-group">
                <btn class="btn btn-lg btn-google-plus btn-block"><i class="fa fa-google-plus"></i>&nbsp;| Connect with Google+</btn>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-8 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-11">
                <div class="form-group">
                  <label for="first-name" class="control-label">Name</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" placeholder="First Name" ng-model="user.firstName" required="required" class="form-control"/>
                    </div>
                    <div class="col-xs-6">
                      <input type="text" placeholder="Last Name" ng-model="user.lastName" required="required" class="form-control"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="control-label">Username</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="text" placeholder="Username" ng-model="user.username" required="required" class="form-control"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="control-label">Email</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="text" placeholder="Email" ng-model="user.email" required="required" class="form-control"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label">Password</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="password" placeholder="Password" ng-model="user.password" required="required" class="form-control"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirm-password" class="control-label">Confirm password</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="password" placeholder="Confirm password" ng-model="user.password" required="required" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <button ng-click="signup(user)" ng-disabled="signUpForm.$invalid" class="btn btn-primary">Create</button><a href="/" class="btn btn-primary">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>