
.container-fluid
    .jumbotron#welcome-section
        .row
            .col-md-4
                img(src="../../images/hourglass.png").img-responsive
            .col-md-8
                 h1 Hundreds of books
                 h2
                    | Just&nbsp;
                    a(href="/") 1 click
                    | &nbsp;away
                 .btn-group-lg.text-center
                     a(href="/about-us").btn.btn-info.btn-lg Learn more
                     a(href="/signup").btn.btn-primary.btn-lg Sign up

.container#homepage-container
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Featured
                .panel-body(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center New
                .panel-body(ng-include="'/partials/main/new-courses'")